@font-face {
  font-family: 'Gotham';
  src: url("Gotham-Bold.woff2") format("woff2"), url("Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Muli';
  src: url("Muli-Bold.woff2") format("woff2"), url("Muli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("Gotham-Medium.woff2") format("woff2"), url("Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("Gotham-Black.woff2") format("woff2"), url("Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html {
  box-sizing: border-box;
  font-size: 10px; }

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }
