/*

    -1;
    1
    10
    100
    1000

*/
html {
  box-sizing: border-box;
  font-size: 10px;
  font-weight: normal;
  padding-top: 6.4rem;
  background: var(--seventh); }
  @media only screen and (min-width: 1024px) {
    html {
      padding-top: 8rem; } }

*, *::after, *::before {
  box-sizing: inherit;
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif; }

ol, ul, li {
  list-style: none; }

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none; }

strong,
em {
  font-weight: 700; }

button {
  border-style: none;
  background-color: transparent; }

:root {
  --xx: 4.8rem;
  --xl: 4rem;
  --lg: 3.2rem;
  --md: 2.4rem;
  --sm: 1.6rem;
  --xs: 0.8rem; }

[class*="__row"] {
  padding: 8rem 1.6rem; }

[class*="__wrap"] {
  margin: auto;
  max-width: 102.4rem; }

[class*="__grid"] {
  display: grid;
  gap: 3.2rem; }
  @media only screen and (min-width: 667px) {
    [class*="__grid"] {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto; } }
  @media only screen and (min-width: 1024px) {
    [class*="__grid"] {
      grid-template-columns: repeat(3, 1fr); } }

:root {
  --first: #195852;
  --first-alt: #009999;
  --second: #2D7E6E;
  --second-alt: #43B6BF;
  --second-aux: #34B2A9;
  --third: #ADD3C9;
  --third-alt: #A7D8D3;
  --third-aux: #66FFFF;
  --fourth: #3c3c3c;
  --bg-first: #FF9966;
  --fifth: #993399;
  --sixth: #FFCC00;
  --seventh: #FFFFFF; }

.color--first {
  color: var(--first); }

.color--first-alt {
  color: var(--first-alt); }

.color--second {
  color: var(--second); }

.color--second-alt {
  color: var(--second-alt); }

.color--second-aux {
  color: var(--second-aux); }

.color--third {
  color: var(--third); }

.color--third-alt {
  color: var(--third-alt); }

.color--third-aux {
  color: var(--third-aux); }

.color--fourth {
  color: var(--fourth); }

.color--bg-first {
  color: var(--bg-first); }

.color--fifth {
  color: var(--fifth); }

.color--sixth {
  color: var(--sixth); }

.color--seventh {
  color: var(--seventh); }

.biggest {
  font-size: var(--xx);
  font-weight: normal; }

.bigger {
  font-size: var(--xl);
  font-weight: normal; }

.big {
  font-size: var(--lg);
  font-weight: normal; }

.medium {
  font-size: var(--md);
  font-weight: normal; }

.small {
  font-size: var(--sm);
  font-weight: normal; }

.smaller {
  font-size: var(--xs);
  font-weight: normal; }

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat' !important;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem; }
  .section-title--first {
    color: var(--first); }
  .section-title--seventh {
    color: var(--seventh); }
  .section-title__icon {
    padding-right: 1.6rem; }

.section-text {
  font-size: 1.4rem; }

.hover--underline:hover {
  color: var(--body);
  text-decoration: underline; }

.button {
  cursor: pointer;
  display: block;
  background-color: var(--second);
  border: 0.1rem solid var(--second);
  border-radius: 3.2em;
  color: var(--seventh);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6em 0.8em; }

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8rem;
  right: 1.6rem; }
  @media only screen and (min-width: 1024px) {
    .menu {
      flex-direction: initial;
      justify-content: center;
      align-items: center;
      position: initial; } }
  .menu__item {
    margin-left: auto; }
    @media only screen and (min-width: 1024px) {
      .menu__item {
        margin-left: initial;
        margin-right: 3.2rem; } }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    display: inline-block;
    background-color: var(--seventh);
    color: var(--first);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase; }
    .menu__link--ghost {
      border: 0.1rem solid transparent;
      border-radius: 3.2rem;
      box-shadow: 0 0 0.2rem rgba(25, 88, 82, 0.4);
      margin-bottom: 0.8rem;
      padding: 0.6rem 0.8rem; }
      @media only screen and (min-width: 1024px) {
        .menu__link--ghost {
          border: initial;
          border-radius: initial;
          box-shadow: initial;
          margin-bottom: initial;
          padding: initial; } }

.navbar__imagotipo {
  display: block;
  height: 4rem; }

.icon__close {
  border-radius: 100%;
  border: 0.1rem solid var(--first);
  position: relative;
  width: 3.2rem;
  height: 3.2rem; }
  @media only screen and (min-width: 1024px) {
    .icon__close {
      display: none; } }

.icon__cross {
  display: block;
  background-color: var(--first);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 0.2rem; }
  .icon__cross:first-child {
    transform: translate(-50%, -50%) rotate(45deg); }
  .icon__cross:last-child {
    transform: translate(-50%, -50%) rotate(-45deg); }

.navbar {
  background-color: var(--seventh);
  box-shadow: 0 -0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 102.4rem;
    height: 6.4rem; }
    @media only screen and (min-width: 1024px) {
      .navbar__container {
        height: 8rem; } }

.header {
  position: relative; }
  @media only screen and (min-width: 768px) {
    .header {
      height: 70vh; } }
  .header__box {
    max-width: 102.4rem; }
    @media only screen and (min-width: 768px) {
      .header__box {
        margin: auto;
        position: absolute;
        left: 1.6rem;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%); } }
  .header__background {
    display: block;
    max-width: 100%; }
    @media only screen and (min-width: 768px) {
      .header__background {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%; } }
  .header__jumbotron {
    background-color: var(--second-alt);
    padding: 3.2rem 1.6rem; }
    @media only screen and (min-width: 768px) {
      .header__jumbotron {
        border-radius: 0.4rem;
        padding: 3.2rem;
        max-width: 70%; } }
    @media only screen and (min-width: 1024px) {
      .header__jumbotron {
        max-width: 60%; } }
  .header__fancy {
    border-left-color: var(--seventh);
    border-left-style: solid;
    border-left-width: 0.2rem;
    margin-bottom: 2.4rem;
    padding-left: 1.6rem; }
  .header__title, .header__subtitle, .header__text {
    color: var(--seventh); }
  .header__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
    @media only screen and (min-width: 1024px) {
      .header__title {
        font-size: 4rem; } }
  .header__subtitle, .header__text {
    font-family: 'Prompt', sans-serif; }
  .header__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1; }
    @media only screen and (min-width: 1024px) {
      .header__subtitle {
        font-size: 1.8rem; } }
  .header__text {
    font-size: 1.4rem;
    font-weight: 300; }

.featured {
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  position: relative;
  max-width: 32rem; }
  .featured:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 667px) {
    .featured {
      max-width: 64rem;
      height: 48rem; }
      .featured--left .featured__image {
        left: 0; }
      .featured--left .featured__content {
        margin-left: 16rem; } }
  @media only screen and (min-width: 667px) and (min-width: 667px) {
    .featured--left .featured__header {
      margin-left: 16rem; } }
  @media only screen and (min-width: 667px) {
      .featured--right .featured__image {
        right: 0; }
      .featured--right .featured__content {
        margin-right: 16rem; } }
  @media only screen and (min-width: 667px) and (min-width: 667px) {
    .featured--right .featured__header {
      margin-right: 16rem; } }
  .featured__image {
    position: absolute;
    z-index: -1; }
    .featured__image::before {
      content: "";
      display: block;
      border: 0.2rem solid var(--fifth);
      border-radius: 0.4rem;
      position: absolute;
      top: 3.2rem;
      right: 3.2rem;
      bottom: 3.2rem;
      left: 3.2rem; }
    .featured__image img {
      display: block;
      border-radius: 0.4rem;
      max-width: 100%; }
      @media only screen and (min-width: 667px) {
        .featured__image img {
          max-width: 32rem; } }
  .featured__content {
    text-align: center;
    padding-top: 50%;
    padding-left: 1.6rem;
    padding-right: 1.6rem; }
    @media only screen and (min-width: 667px) {
      .featured__content {
        padding: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%); } }
  .featured__icon {
    width: 6.4rem; }
  .featured__title {
    color: var(--seventh);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-top: 0.8rem;
    margin-bottom: 2.4rem; }
  .featured__jumbotron {
    background-color: var(--seventh);
    border-radius: 0.4rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    padding: 2.4rem; }
  .featured__text {
    color: var(--text);
    font-size: 1.4rem;
    text-align: left; }

.card-video {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  max-width: 56.8rem;
  overflow: hidden; }
  .card-video__video {
    background-color: teal;
    padding-top: 56.25%;
    height: 0; }
  .card-video__caption {
    background-color: var(--seventh);
    padding: 2.4rem; }
  .card-video__title, .card-video__description {
    color: var(--second); }
  .card-video__title {
    font-size: 1.6rem;
    text-transform: capitalize; }
  .card-video__description {
    font-size: 1.4rem; }

.conoce-mas-historias {
  text-align: center; }
  @media only screen and (min-width: 667px) {
    .conoce-mas-historias {
      grid-column-start: 1;
      grid-column-end: 3; } }
  @media only screen and (min-width: 1024px) {
    .conoce-mas-historias {
      grid-column-start: 2;
      grid-column-end: 4;
      align-self: center; } }
  .conoce-mas-historias__caption {
    color: var(--seventh);
    font-family: 'Raleway';
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 2.4rem; }

.section-subtitle {
  color: var(--seventh);
  font-family: 'Prompt';
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4rem; }

.portafolio-productos-list {
  display: inline-flex; }
  .portafolio-productos-list__box:first-child {
    text-align: center;
    margin-right: 2.4rem; }
  .portafolio-productos-list__icon {
    margin-bottom: 0.8rem; }
  .portafolio-productos-list__title {
    color: var(--first);
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase; }
  .portafolio-productos-list__list {
    padding-left: 1.6rem; }
  .portafolio-productos-list__item {
    font-size: 1.4rem;
    position: relative; }
    .portafolio-productos-list__item::after {
      content: "\2022";
      display: block;
      position: absolute;
      top: 0.12rem;
      transform: scale(2);
      left: -1.6rem;
      color: var(--first);
      line-height: 1.6rem; }

.card-beneficios {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--seventh);
  border-radius: 0.4rem;
  padding: 2.4rem; }
  .card-beneficios__text {
    color: var(--seventh);
    font-size: 1.4rem; }

.sofipo {
  margin-top: 6.4rem; }
  @media only screen and (min-width: 1024px) {
    .sofipo {
      margin-top: 8rem; } }
  .sofipo__wrap:nth-child(2) {
    margin-top: 4rem;
    text-align: center; }
  .sofipo__casos-de-exito {
    background-blend-mode: multiply;
    background-color: var(--bg-first);
    background-image: url("../img/casos-de-exito/casos-de-exito-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; }
    @media only screen and (min-width: 667px) {
      .sofipo__casos-de-exito {
        background-image: url("../img/casos-de-exito/casos-de-exito-desktop.jpg"); } }
  .sofipo__portafolio-productos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 4rem;
    text-align: left;
    max-width: 96rem; }
    @media only screen and (min-width: 568px) {
      .sofipo__portafolio-productos {
        display: inline-grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        column-gap: 4rem; } }
    @media only screen and (min-width: 768px) {
      .sofipo__portafolio-productos {
        column-gap: 16rem; } }
  .sofipo__beneficios {
    background-color: var(--first); }
    .sofipo__beneficios .sofipo__wrap:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 3.2rem; }
