.flexslider
    ul.slides
        li
            img(class="slides__image", src="../img/amsofipo/slider/slider-01.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/amsofipo/slider/slider-02.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/amsofipo/slider/slider-03.jpg", alt="slider")
    .slides__custom-container
        h1.slides__heading AMSOFIPO
        p.slides__caption Afiliados<br>Integrantes del<br>Consejo Directivo
    .custom-navigation
        a(class="flex-prev", style="color: transparent; background-color: transparent; display: none;", href="#")
        a(class="flex-next", style="color: transparent; background-color: transparent; display: none;", href="#")
    .custom-controls-container