//- carousel
article.carousel
    //- slider
    ul.carousel__slider
        li.carousel__slide
            img(src="", class="carousel__image", alt="")
            section.carousel__caption
    //- prev next
    nav.carousel__controls
        a(href="", class="carousel__prev")
        a(href="", class="carousel__next")
    //- dots
    nav.carousel__dots
        a(href="")