//- carousel
article.carousel
    //- slider
    ul.carousel__slider
        li.carousel__slide
            img(src="img/home-slider/home-slider-03.png", class="carousel__image", alt="")
            section
                p.carousel__caption Solicita tu crédito y comienza a crecer
                button(type="button", class="carousel__button") Leer más
    //- pleca
    img(src="img/home-slider/home-slider-00.png", class="carousel__pleca", alt="")
    //- controls
    nav.carousel__controls
        a(href="", class="carousel__prev")
        a(href="", class="carousel__next")
    //- dots
    nav.carousel__dots
        a(href="", class="carousel__dot carousel__dot--active")
        a(href="", class="carousel__dot")
        a(href="", class="carousel__dot")