.featured
    .featured__image
        img(src="img/featured/work.jpg", alt="trabajamos")
    .featured__content
        .featured__header
            img(src="img/featured/objective-icon.svg", class="featured__icon", alt="objetivo")
            h1.featured__title trabajamos
        .featured__jumbotron
            p.featured__text Las SOFIPO tienen como propósito el fomentar el ahorro popular y expandir el acceso al financiamiento a aquellas personas que por su situación, se han visto excluidas de los sistemas tradicionales de crédito, y en general, propiciar la solidaridad, la superación económica y social, y el bienestar de sus miembros y de las comunidades en que operan, sobre bases formativas y del esfuerzo individual y colectivo.