.footer__row
    .footer__wrap
        div
            p <strong>Asociación Mexicana de Sociedades Financieras Populares</strong>
            p Av. Insurgentes Sur #2047 Esq. Cracovia Edificio “B”, Colonia San Ángel, Del. Álvaro Obregón C.P. 01000, México D.F
        div
            a(href="https://www.facebook.com/Amsofipo/", target="_blank")       
                img(src="img/icons/facebook.png", class="footer__icon", alt="facebook amsofipo")
            a(href="https://twitter.com/amsofipo?lang=es", target="_blank")       
                img(src="img/icons/twitter.png", class="footer__icon", alt="twitter amsofipo")
            a(href="#")       
                img(src="img/icons/linkedin.png", class="footer__icon", alt="linkedin amsofipo")
            p Tel. 5001 4851
            p Marco Legal | Aviso de Privacidad