.header__row
    .header__wrap
        .header__box
            a(href="#navegacion"): img(src="img/icons/menu.png", class="header__icon-menu", alt="icon")
            img(src="img/logos/amsofipo-logo.png", class="header__logo", alt="amsofipo logo")
        .header__box
            img(src="img/icons/search.png", class="header__icon-search", alt="amsofipo logo")
            a(href="#home-contacto", class="body normal uppercase colorBodyAlt header__right-menu") contacto