header.header__row
    .header__wrap--medium
        .header__box
            button.header__icon-hamburguer: <span></span> <span></span> <span></span> 
            a(href="#"): img(src="img/logos/logo-amsofipo.svg", class="header__logo-amsofipo", alt="amsofipo logo")
        .header__box
            img(src="https://www.amsofipo.mx/img/icons/search.png", class="header__icon-search", alt="amsofipo logo")
            a(href="#home-contacto", class="body normal uppercase colorBodyAlt header__right-menu") contacto