.home-indicadores.home-indicadores__bg
    .home-indicadores__wrap
        table.home-indicadores__table
            tr
                th(colspan="3").body.big.colorText.uppercase <strong>indicadores de inclusión junio 2019</strong>
            tr
                td: img(src="https://www.amsofipo.mx/img/icons/check.png", class="home-indicadores__icon", alt="icon")
                td.body.big.colorText 39 SOFIPOS 
                td.body.big.colorText Autorizadas en Operación
            tr
                td: img(src="https://www.amsofipo.mx/img/icons/people.png", class="home-indicadores__icon", alt="icon")
                td.body.big.colorText 4,322,888  
                td.body.big.colorText Número de Clientes
            tr
                td: img(src="https://www.amsofipo.mx/img/icons/hall.png", class="home-indicadores__icon", alt="icon")
                td.body.big.colorText 1,141
                td.body.big.colorText Número de Sucursales
            tr
                td: img(src="https://www.amsofipo.mx/img/icons/placeholder.png", class="home-indicadores__icon", alt="icon")
                td.body.big.colorText 1,629
                td.body.big.colorText Municipios Atendidos