.home-afiliados
    h1.title.biggest NUESTROS AFILIADOS
    .new-slider-afiliados
        ul
            li
                img(src="img/logos/came-logo.png", alt="amsofipo afiliado")
                img(src="img/logos/capital-activo-logo.png", alt="amsofipo afiliado")
                img(src="img/logos/credi-club-logo.png", alt="amsofipo afiliado")
            li
                img(src="img/logos/financiera-popular-logo.png", alt="amsofipo afiliado")
                img(src="img/logos/fincomun-logo.png", alt="amsofipo afiliado")
                img(src="img/logos/sofi-express-logo.png", alt="amsofipo afiliado")
        nav.dot-caja
            span.dot-caja__dot
            span.dot-caja__dot
            span.dot-caja__dot