.home-indicadores__row
    .home-indicadores__wrap
        table.home-indicadores__table
            tr
                th(colspan="3").body.normal.colorText.uppercase <strong>indicadores de inclusión junio 2019</strong>
            tr
                td: img(src="img/icons/check.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 39 SOFIPOS 
                td.body.normal.colorText Autorizadas en Operación
            tr
                td: img(src="img/icons/people.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 4,322,888  
                td.body.normal.colorText Número de Clientes
            tr
                td: img(src="img/icons/hall.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 1,141
                td.body.normal.colorText Número de Sucursales
            tr
                td: img(src="img/icons/placeholder.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 1,629
                td.body.normal.colorText Municipios Atendidos