.home__banner
    div: h1 Más de <strong>4 millones de mexicanos</strong> ya son clientes de una SOFIPO. <strong>¡Acércate!</strong>
    img(src="img/home/slider/home-slider-03.png", alt="")
    img(src="img/pleca-amsofipo.png", alt="")
        