.home-indicadores__row
    .home-indicadores__wrap
        table.home-indicadores__table
            tr
                th(colspan="3").body.normal.colorText.uppercase <strong>indicadores de inclusión marzo 2019</strong>
            tr
                td: img(src="img/icons/check.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 39 sofipos  
                td.body.normal.colorText Autorizadas en operaciones
            tr
                td: img(src="img/icons/people.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 4,236.601  
                td.body.normal.colorText Número de clientes
            tr
                td: img(src="img/icons/hall.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 1,136
                td.body.normal.colorText Número de sucursales
            tr
                td: img(src="img/icons/placeholder.png", class="home-indicadores__icon", alt="icon")
                td.body.normal.colorText 4,236.601
                td.body.normal.colorText Municipios atendidos