.carrousel
    ul.carrousel__sliders
        li.carrousel__slide
            img(src="img/home-slider/home-siler-01.png", class="carrousel__image", alt="slide")
            .carrousel__caption
                div
                    p.carrousel__text Solicita tu crédito y comienza a crecer
                    a(class="button", href="#") Leer más       
    .carrousel__navigation
        div
            a(class="carrousel__prev", href="#")
            a(class="carrousel__next", href="#")