.home-inclusion
    h1.home-inclusion__heading inclusión financiera
    .home-inclusion__destacado
        .home-inclusion__destacado-item
            div
                h2 portafolio de productos y servicios
                p Conoce más de todo lo que tenemos para ti.
        .home-inclusion__destacado-item
            div
                //- h2 casos de éxito
                //- p Inspírate con las historias de quienes han alcanzado sus sueños.
        .home-inclusion__destacado-item
            div
                h2 cumplimiento
                p Entérate de las actualizaciones disponibles para miembros del sector.
        .home-inclusion__destacado-item
            div
                h2 finanzas personales
                p Útiles sugerencias para emprender y ahorrar.