.home-contacto__row
    div
    div
        h1.heading.biggest.colorText Contacto
        p.body.normal.colorText Queremos ayudarte a resolver todas tus dudas, ¡escríbenos!
        form.home-contacto__form
            input(type="text", placeholder="Nombre")
            input(type="email", placeholder="Email")
            textarea(placeholder="Mensaje")
            div
                a(href="#") contacto@amsofipo.mx
                input(type="submit", value="Enviar")    