.flexslider
    ul.slides
        li
            img(class="slides__image", src="../img/inclusion-financiera/slider/slider-01.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/inclusion-financiera/slider/slider-02.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/inclusion-financiera/slider/slider-03.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/inclusion-financiera/slider/slider-04.jpg", alt="slider")
    .slides__sofipos-container
        h1.slides__sofipos-heading Inclusión Financiera
        p.slides__sofipos-caption Trabajamos para que cualquier persona pueda acceder al crédito, al ahorro y pueda asegurar su patrimonio. Conoce aquí, los principales indicadores del sector.
    .custom-navigation
        a(class="flex-prev", style="color: transparent; background-color: transparent; display: none;", href="#")
        a(class="flex-next", style="color: transparent; background-color: transparent; display: none;", href="#")
    .custom-controls-container