h1.biggest Indicadores de inclusión junio 2019

    .indicadores-de-inclusion
        img(src="img/icons/check.png", class="indicadores-de-inclusion__icon", alt="icon")
        .indicadores-de-inclusion__caption
            h1.indicadores-de-inclusion__title 39 SOFIPOS 
            p.indicadores-de-inclusion__description Autorizadas en Operación

    .indicadores-de-inclusion
        img(src="img/icons/people.png", class="indicadores-de-inclusion__icon", alt="icon")
        .indicadores-de-inclusion__caption
            h1.indicadores-de-inclusion__title 4,322,888  
            p.indicadores-de-inclusion__description Número de Clientes

    .indicadores-de-inclusion
        img(src="img/icons/hall.png", class="indicadores-de-inclusion__icon", alt="icon")
        .indicadores-de-inclusion__caption
            h1.indicadores-de-inclusion__title 1,141
            p.indicadores-de-inclusion__description Número de Sucursales

    .indicadores-de-inclusion
        img(src="img/icons/placeholder.png", class="indicadores-de-inclusion__icon", alt="icon")
        .indicadores-de-inclusion__caption
            h1.indicadores-de-inclusion__title 1,629
            p.indicadores-de-inclusion__description Municipios Atendidos