nav.navegacion#navegacion
    div: a(href="#"): img(src="https://www.amsofipo.mx/img/icons/close.png", class="navegacion__icon", alt="icon")
    ul.menu
        li.menu__item 
            a(href="https://www.amsofipo.mx/pages/sofipos.html", class="menu__link") sofipos
        li.menu__item 
            a(href="https://www.amsofipo.mx/old/inclusionfinanciera.html", class="menu__link") inclusión financiera
        li.menu__item 
            a(href="https://www.amsofipo.mx/pages/amsofipo.html", class="menu__link") amsofipo
        li.menu__item 
            a(href="https://www.amsofipo.mx/old/eventos.html", class="menu__link") eventos
        li.menu__item 
            a(href="https://www.amsofipo.mx/old/capacitacion.html", class="menu__link") capacitación asociados
        li.menu__item 
            a(href="#", class="menu__link") educación financiera