.new-slider__content
    ul.new-slider
        li.new-slider__frame.fade
            img(src="img/home-slider/frame-first.jpg", class="new-slider__hero-image", alt="Indicadores de inclusión Junio 2019")
            .new-slider__container
                p.new-slider__caption Indicadores de inclusión <strong>Junio 2019</strong>
                a(href="#", class="button-solid") Leer más
        li.new-slider__frame.fade
            img(src="img/home-slider/frame-second.jpg", class="new-slider__hero-image", alt="Indicadores de inclusión Junio 2019")
            .new-slider__container
                p.new-slider__caption Indicadores de inclusión <strong>Junio 2019</strong>
                a(href="#", class="button-solid") Leer más
        li.new-slider__frame.fade
            img(src="img/home-slider/frame-third.jpg", class="new-slider__hero-image", alt="Indicadores de inclusión Junio 2019")
            .new-slider__container
                p.new-slider__caption Indicadores de inclusión <strong>Junio 2019</strong>
                a(href="#", class="button-solid") Leer más
    nav.new-slider__nav
        span.new-slider__dot
        span.new-slider__dot
        span.new-slider__dot
