.sociales
    a(href="https://www.facebook.com/Amsofipo/"): img(src="img/icons/facebook.svg", alt="facebook")
    a(href="https://twitter.com/amsofipo?lang=es"): img(src="img/icons/twitter.svg", alt="twitter")