.flexslider
    ul.slides
        li
            img(class="slides__image", src="../img/sofipos/slider/slider-01.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/sofipos/slider/slider-02.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/sofipos/slider/slider-03.jpg", alt="slider")
        li
            img(class="slides__image", src="../img/sofipos/slider/slider-04.jpg", alt="slider")
    .slides__sofipos-container
        h1.slides__sofipos-heading Casos de éxito
        p.slides__sofipos-caption Inspírate con las historias de quienes han alcanzado sus sueños
    .custom-navigation
        a(class="flex-prev", style="color: transparent; background-color: transparent; display: none;", href="#")
        a(class="flex-next", style="color: transparent; background-color: transparent; display: none;", href="#")
    .custom-controls-container