%title {
    font-family: var(--upper);
    font-size: var(--title);
    font-weight: bold;
    line-height: var(--exact);
    text-transform: uppercase;
}

%subtitle {
    font-family: var(--body);
    font-size: var(--subtitle);
    font-weight: var(--light);
}