- 
    
    const mosaicos = [
        {
            title: '',
            caption: '',
            icon: '',
            href: '',
        },
        {
            title: 'PORTAFOLIO DE PRODUCTOS Y SERVICIOS ',
            caption: 'Conoce más de todo lo que tenemos para ti.',
            icon: 'icon-award.svg',
            href: 'sofipo.html#portafolio-de-productos',
        },
        {
            title: 'casos de éxito',
            caption: 'Inspírate con las historias de quienes han alcanzado sus sueños.',
            icon: 'icon-award.svg',
            href: '',
        },
        {
            title: 'Finanzas personales',
            caption: 'Útiles sugerencias para emprender y ahorrar.',
            icon: 'icon-award.svg',
            href: '',
        },
    ]