-
    const MENU = [
        {
            name: 'amsofipo',
            url: 'amsofipo.html',
            child: [],
        },
        {
            name: 'sofipo',
            url: 'sofipo.html',
            child: [],
        },
        {
            name: 'inclusión financiera',
            url: 'inclusion-financiera.html',
            child: [],
        },
        {
            name: 'finanzas personales',
            url: 'finanzas-personales.html',
            child: [],
        },
        {
            name: 'prensa',
            url: 'prensa.html',
            child: [],
        },
        {
            name: 'blog',
            url: 'http://blog.amsofipo.mx/pages/',
            child: [],
        }
    ]