-
    const MENU = [
        {
            itemName: 'AMSOFIPO',
            url: 'amsofipo.html',
        },
        {
            itemName: 'SOFIPO',
            url: 'sofipo.html',
        },
        {
            itemName: 'Iclusión Financiera',
            url: 'inclusion-financiera.html',
        },
        {
            itemName: 'Finanzas Personales',
            url: 'finanzas-personales.html',
        },
        {
            itemName: 'Prensa',
            url: 'prensa.html',
        },
        {
            itemName: 'Blog',
            url: 'http://blog.amsofipo.mx/pages/',
        }
    ]