-
    const FEATURED_MISION = {
        title: 'misión', 
        text: 'Promover el desarrollo ordenado y sano del Sector de Ahorro y Crédito Popular en México, siendo un interlocutor destacado y reconocido ante cualquier organismo gubernamental o privado, con la finalidad de interactuar en el desarrollo de nuevas regulaciones, en la utilización y canalización adecuada de fondeo y recursos gubernamentales, en el alineamiento de la política pública para el sector, contribuyendo así con el fortalecimiento institucional de sus asociados, y en la promoción de la educación financiera dentro del segmento de los Servicios Financieros Populares.',
        img: 'amsofipo-mision.png',
    }

    const FEATURED_VISION = {
        title: 'visión', 
        text: 'La AMSOFIPO será el organismo de representación y autorregulación de mayor relevancia y representatividad en México, integrado por SOFIPO reguladas, fomentando el sano desarrollo del Sector de Ahorro Popular dentro del Sistema Financiero Mexicano.',
        img: 'amsofipo-vision.png',
    }

    const FEATURED_OBJETIVO = {
        title: 'objetivo', 
        text: 'Las SOFIPO tienen el propósito de fomentar el ahorro popular, y expandir el acceso al financiamiento de aquellas personas excluidas de los sistemas tradicionales de crédito, y en general, propiciar la solidaridad, la superación económica y social, así como el bienestar de sus miembros y de las comunidades donde operan; todo esto con base en el esfuerzo individual y colectivo.',
        img: 'sofipo-objetivo.png',
    }

    const FEATURED_CLIENTES = {
        title: 'clientes', 
        text: 'Son aquellos que los bancos tradicionalmente no atienden por ubicación geográfica o porque no cumplen con los requisitos de las instituciones tradicionales. En las SOFIPO existen productos hechos a las necesidades del cliente, pueden ser individuales, solidarios o comunales.',
        img: 'sofipo-clientes.png',
    }

    const FEATURED_TRABAJAMOS = {
        title: 'trabajamos', 
        text: 'Acercamos a las personas opciones de crédito, ahorro y protección de su patrimonio. El acceso a servicios financieros tiene un enorme potencial para mejorar la calidad de vida de las personas; se trata de un requisito indispensable para la reducción de la pobreza y vulnerabilidad de amplios sectores de la población. La falta de éste limita innecesariamente el desarrollo de los hogares. ',
        img: 'inclusion-financiera.png',
    }