-
    const MOSAICOS = [
        {
            title: '',
            caption: '',
            icon: '',
            movil: '',
            tablet: '',
            desktop: 'mosaicos-condusef.png',
            href: '',
        },
        {
            title: 'PORTAFOLIO DE PRODUCTOS Y SERVICIOS ',
            caption: 'Conoce más de todo lo que tenemos para ti.',
            icon: 'icon-portfolio-alt.svg',
            movil: 'mosaicos-movil-productos.png',
            tablet: 'mosaicos-tablet-productos.png',
            desktop: 'mosaicos-desktop-productos.png',
            href: '',
        },
        {
            title: 'casos de éxito',
            caption: 'Inspírate con las historias de quienes han alcanzado sus sueños.',
            icon: 'icon-award-alt.svg',
            movil: 'mosaicos-movil-casos-exito.png',
            tablet: 'mosaicos-tablet-casos-exito.png',
            desktop: 'mosaicos-desktop-casos-exito.png',
            href: '',
        },
        {
            title: 'Finanzas personales',
            caption: 'Útiles sugerencias para emprender y ahorrar.',
            icon: 'icon-check-list-alt.svg',
            movil: 'mosaicos-movil-finanzas-personales.png',
            tablet: 'mosaicos-tablet-finanzas-personales.png',
            desktop: 'mosaicos-desktop-finanzas-personales.png',
            href: '',
        },
    ]