-
    const JUMBO_AMSOFIPO = {
        title: 'amsofipo', 
        subtitle: 'Asociación Mexicana de Sociedades Financieras Populares',
        body: 'La Asociación Mexicana de Sociedades Financieras Populares (AMSOFIPO) fue creada a finales del 2009, como resultado del interés de un grupo de Sociedades Financieras Populares (SOFIPO) por generar sinergias tendientes a fortalecer al sector mediante adecuaciones a la regulación y mantener una sana interacción de comunicación para proponer adicionalmente programas y proyectos donde se vincule su figura.',
        buttonone: '',
        buttontwo: '',
        desktop: 'jumbotron-amsofipo-desktop.jpg',
        tablet: 'jumbotron-amsofipo-desktop.jpg',
        movil: 'jumbotron-amsofipo-desktop.jpg',
    }
    
    const JUMBO_SOFIPO = {
        title: 'sofipo', 
        subtitle: 'Sociedades Financieras Populares',
        body: 'Son entidades que ofrecen servicios de ahorro, crédito e inversión, particularmente a un sector popular y en zonas geográficas rurales y periféricas urbanas, donde la banca comercial generalmente no está participando.',
        buttonone: '',
        buttontwo: '',
        desktop: 'jumbotron-sofipo-desktop.jpg',
        tablet: 'jumbotron-sofipo-desktop.jpg',
        movil: 'jumbotron-sofipo-desktop.jpg',
    }

    const JUMBO_INCLUSION = {
        title: 'inclusión financiera', 
        subtitle: '¿Qué significa?',
        body: 'Tener acceso a un conjunto de productos y servicios financieros que incluyen crédito, ahorro, seguros, sistema de pagos y pensiones, así como educación y protección al consumidor.',
        buttonone: '',
        buttontwo: '',
        desktop: 'jumbo-inclusion.png',
        tablet: 'jumbo-inclusion.png',
        movil: 'jumbo-inclusion.png',
    }
    
    const JUMBO_PLAN = {
        title: 'plan de trabajo', 
        subtitle: '2019 - 2021',
        body: 'El 1 abril de 2019 se llevó a cabo la Asamblea General de Asociados, donde fue elegido como Presidente del Consejo Directivo David Romero Morfín, Director General de Fincomún.',
        buttonone: '',
        buttontwo: '',
        desktop: 'jumbotron-amsofipo-desktop.jpg',
        tablet: 'jumbotron-amsofipo-desktop.jpg',
        movil: 'jumbotron-amsofipo-desktop.jpg',
    }
    
    const JUMBO_PRENSA = {
        title: 'prensa', 
        subtitle: '',
        body: 'Descubre más de AMSOFIPO y mantente al día sobre las últimas noticias de la asociación. Aquí encontrarás los comunicados en nuestra sección de boletines de prensa.',
        buttonone: 'notas de prensa',
        buttontwo: 'boletines de prensa',
        desktop: 'jumbotron-prensa.png',
        tablet: 'jumbotron-prensa.png',
        movil: 'jumbotron-prensa.png',
    }