-
    const PRODUCTOS = [
        {
            servicio: 'créditos',
            list: [
                'Personal',
                'Para el consumo',
                'Productivo',
                'Educación',
                'Compra de vivienda',
                'Mejoramiento de vivienda ',
                'Microempresa',
                'Activo fijo del negocio',
                'Arrendamiento',
                'Pyme',
            ],
            icon: 'icon-credit-card.svg',
        },
        {
            servicio: 'servicios',
            list: [
                'Transferencias nacionales e internacionales',
                'Pagos de servicios',
                'Programas de gobierno',
                'Tarjeta de débito / ATM',
                'Pagos electrónicos',
                'Cajeros automáticos',
                'Remesas',
            ],
            icon: 'icon-services.svg',
        },
        {
            servicio: 'ahorros',
            list: [
                'Cuenta de ahorros',
                'Cuenta corriente',
                'Certificado de depósito',
                'Pensión',
                'Ahorros para jóvenes',
                'Programas de ahorros',
                'Depósitos a plazos fijos',
                'Ahorro Infantil',
            ],
            icon: 'icon-savings.svg',
        },
        {
            servicio: 'seguros',
            list: [
                'Salud',
                'Vida',
                'Propiedad',
                'Cultivo / Agrícola',
                'Crédito de vida',
            ],
            icon: 'icon-insurance.svg',
        },
    ]