- 
    //- const INDICADORES = {
    //-     2015: {
    //-         mar: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3057140',
    //-             numero_de_sucursales: '1043',
    //-             activo_total: '24345',
    //-             captacion: '17450',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         oct: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3175594',
    //-             numero_de_sucursales: '1051',
    //-             activo_total: '24707',
    //-             captacion: '17787',
    //-             municipios_atendidos: '1629',
    //-         },
    //-     },
    //-     2016: {
    //-         mar: {
    //-             sofipos_autorizadas_en_operacion: '45',
    //-             numero_de_clientes: '3423472',
    //-             numero_de_sucursales: '1099',
    //-             activo_total: '27204',
    //-             captacion: '19003',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         jun: {
    //-             sofipos_autorizadas_en_operacion: '45',
    //-             numero_de_clientes: '3475437',
    //-             numero_de_sucursales: '1103',
    //-             activo_total: '28062',
    //-             captacion: '19617',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         sep: {
    //-             sofipos_autorizadas_en_operacion: '43',
    //-             numero_de_clientes: '3493998',
    //-             numero_de_sucursales: '1103',
    //-             activo_total: '29992',
    //-             captacion: '19937',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         dic: {
    //-             sofipos_autorizadas_en_operacion: '43',
    //-             numero_de_clientes: '3558971',
    //-             numero_de_sucursales: '1206',
    //-             activo_total: '31283',
    //-             captacion: '20233',
    //-             municipios_atendidos: '1629',
    //-         },
    //-     },
    //-     2017: {
    //-         mar: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3576562',
    //-             numero_de_sucursales: '1158',
    //-             activo_total: '30202',
    //-             captacion: '19411',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         jun: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3764887',
    //-             numero_de_sucursales: '1160',
    //-             activo_total: '31603',
    //-             captacion: '19872',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         sep: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3842849',
    //-             numero_de_sucursales: '1183',
    //-             activo_total: '32797',
    //-             captacion: '20573',
    //-             municipios_atendidos: '1629',
    //-         },
    //-     },
    //-     2018: {
    //-         jun: {
    //-             sofipos_autorizadas_en_operacion: '44',
    //-             numero_de_clientes: '3681372',
    //-             numero_de_sucursales: '1139',
    //-             activo_total: '31080',
    //-             captacion: '19472',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         sep: {
    //-             sofipos_autorizadas_en_operacion: '40',
    //-             numero_de_clientes: '3861866',
    //-             numero_de_sucursales: '1204',
    //-             activo_total: '32459',
    //-             captacion: '20136',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         dic: {
    //-             sofipos_autorizadas_en_operacion: '39',
    //-             numero_de_clientes: '3899662',
    //-             numero_de_sucursales: '1165',
    //-             activo_total: '32035',
    //-             captacion: '19729',
    //-             municipios_atendidos: '1629',
    //-         },
    //-     },
    //-     2019: {
    //-         mar: {
    //-             sofipos_autorizadas_en_operacion: '39',
    //-             numero_de_clientes: '4236601',
    //-             numero_de_sucursales: '1136',
    //-             activo_total: '3186',
    //-             captacion: '20266',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         jun: {
    //-             sofipos_autorizadas_en_operacion: '39',
    //-             numero_de_clientes: '4322888',
    //-             numero_de_sucursales: '1141',
    //-             activo_total: '31410',
    //-             captacion: '19807',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         sep: {
    //-             sofipos_autorizadas_en_operacion: '39',
    //-             numero_de_clientes: '4389096',
    //-             numero_de_sucursales: '1087',
    //-             activo_total: '31100',
    //-             captacion: '19451',
    //-             municipios_atendidos: '1629',
    //-         },
    //-         dic: {
    //-             sofipos_autorizadas_en_operacion: '39',
    //-             numero_de_clientes: '4875823',
    //-             numero_de_sucursales: '1206',
    //-             activo_total: '31011',
    //-             captacion: '19495',
    //-             municipios_atendidos: '1629',
    //-         },
    //-     },
    //- }

    const INDICADORES2015 = {
        mar: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3,057,140',
            numero_de_sucursales: '1,043',
            activo_total: '24,345',
            captacion: '17,450',
            municipios_atendidos: '1,629',
        },
        oct: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3,175,594',
            numero_de_sucursales: '1,051',
            activo_total: '24,707',
            captacion: '17,787',
            municipios_atendidos: '1,629',
        },
    }

    const INDICADORES2016 = {
        mar: {
            sofipos_autorizadas_en_operacion: '45',
            numero_de_clientes: '3,423,472',
            numero_de_sucursales: '1,099',
            activo_total: '27,204',
            captacion: '19,003',
            municipios_atendidos: '1,629',
        },
        jun: {
            sofipos_autorizadas_en_operacion: '45',
            numero_de_clientes: '3,475,437',
            numero_de_sucursales: '1,103',
            activo_total: '28,062',
            captacion: '19,617',
            municipios_atendidos: '1,629',
        },
        sep: {
            sofipos_autorizadas_en_operacion: '43',
            numero_de_clientes: '3,493,998',
            numero_de_sucursales: '1,103',
            activo_total: '29,992',
            captacion: '19,937',
            municipios_atendidos: '1,629',
        },
        dic: {
            sofipos_autorizadas_en_operacion: '43',
            numero_de_clientes: '3,558,971',
            numero_de_sucursales: '1,206',
            activo_total: '31,283',
            captacion: '20,233',
            municipios_atendidos: '1,629',
        },
    }

    const INDICADORES2017 = {
        mar: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '35,76,562',
            numero_de_sucursales: '1,158',
            activo_total: '30,202',
            captacion: '19,411',
            municipios_atendidos: '1,629',
        },
        jun: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3,764,887',
            numero_de_sucursales: '1,160',
            activo_total: '31,603',
            captacion: '19,872',
            municipios_atendidos: '1,629',
        },
        sep: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3,842,849',
            numero_de_sucursales: '1,183',
            activo_total: '32,797',
            captacion: '20,573',
            municipios_atendidos: '1,629',
        },
    }

    const INDICADORES2018 = {
        jun: {
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3,681,372',
            numero_de_sucursales: '1,139',
            activo_total: '31,080',
            captacion: '19,472',
            municipios_atendidos: '1,629',
        },
        sep: {
            sofipos_autorizadas_en_operacion: '40',
            numero_de_clientes: '3,861,866',
            numero_de_sucursales: '1,204',
            activo_total: '32,459',
            captacion: '20,136',
            municipios_atendidos: '1,629',
        },
        dic: {
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '3,899,662',
            numero_de_sucursales: '1,165',
            activo_total: '32,035',
            captacion: '19,729',
            municipios_atendidos: '1,629',
        },
    }

    const INDICADORES2019 = {
        marzo: {
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4,236,601',
            numero_de_sucursales: '1,136',
            activo_total: '3,186',
            captacion: '20,266',
            municipios_atendidos: '1,629',
        },
        junio: {
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4,322,888',
            numero_de_sucursales: '1,141',
            activo_total: '31,410',
            captacion: '19,807',
            municipios_atendidos: '1,629',
        },
        septiembre: {
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4,389,096',
            numero_de_sucursales: '1,087',
            activo_total: '31,100',
            captacion: '19,451',
            municipios_atendidos: '1,629',
        },
        diciembre: {
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4,875,823',
            numero_de_sucursales: '1,206',
            activo_total: '31,011',
            captacion: '19,495',
            municipios_atendidos: '1,629',
        },
    }