-
    const ASOCIADOS = [
        {
            logo: 'logo-asp-integra-opciones.svg',
            href: 'https://www.aspintegraopciones.com/',
        },
        {
            logo: 'logo-auxi.svg',
            href: 'http://v2.auxi.mx/Inicio',
        },
        {
            logo: 'logo-came.svg',
            href: 'https://www.came.org.mx/',
        },
        {
            logo: 'logo-capital-activo.svg',
            href: 'https://capitalactivo.com.mx/',
        },
        {
            logo: 'logo-finamigo.svg',
            href: 'https://www.finamigo.com.mx/',
        },
        {
            logo: 'logo-fincomun.svg',
            href: 'https://www.fincomun.com.mx/',
        },
        {
            logo: 'logo-ictineo.svg',
            href: 'www.ictineoplataforma.com',
        },
        {
            logo: 'logo-jpsofiexpress.svg',
            href: 'http://sofiexpress.com.mx/',
        },
        {
            logo: 'logo-kubo.svg',
            href: 'https://www.kubofinanciero.com/Kubo/Portal/index.xhtml',
        },
        {
            logo: 'logo-monte-de-piedad.svg',
            href: 'https://www.montepiedad.com.mx/',
        },
        {
            logo: 'logo-multiplica.svg',
            href: 'https://www.multiplicamexico.com/',
        },
        {
            logo: 'logo-paso-seguro.svg',
            href: 'http://www.pasoseguro.com.mx/pasoseguro/',
        },
        {
            logo: 'logo-porvenir.svg',
            href: 'http://www.porvenirsofipo.mx/',
        },
        {
            logo: 'logo-resuelve-tus-finanzas.svg',
            href: 'http://www.resuelvetusfinanzas.com/',
        },
        {
            logo: 'logo-sefia.svg',
            href: 'http://www.sefia.com.mx/',
        },
        {
            logo: 'logo-te-creemos.svg',
            href: 'https://tecreemos.com/',
        },
        {
            logo: 'logo-real-financiera.png',
            href: 'http://realfinanciera.com/',
        },
        {
            logo: 'logo-bienestar.png',
            href: 'https://www.ahorrosbienestar.com/',
        },
        {
            logo: 'logo-cofia.png',
            href: 'http://cofia.mx/',
        },
        {
            logo: 'logo-crediclub.png',
            href: 'https://crediclub.com/',
        },
        {
            logo: 'logo-sumate.png',
            href: 'http://www.financierasumate.com.mx/',
        },
        {
            logo: 'logo-impulso.png',
            href: 'https://impulsocrediticio.com/',
        },
        {
            logo: 'logo-broxel.png',
            href: 'https://broxel.com/',
        },
        {
            logo: 'logo-credicapital.png',
            href: 'https://credicapital.com.mx/',
        },
    ]