- 
    
    const icons = {
        association: 'icon-association.svg',
        award: 'icon-award.svg',
        insurance: 'icon-insurance.svg',
        mission: 'icon-mission.svg',
        objective: 'icon-objective.svg',
        services: 'icon-services.svg',
        vission: 'icon-vission.svg',
        target: 'icon-target.svg',
        clients: 'icon-clients.svg',
        pin: 'icon-pin.svg',
        youtube-alt: 'icon-youtube-alt.svg',
        youtube: 'icon-youtube.svg',
        work-together: 'icon-work-together.svg',
        view: 'icon-view.svg',
        supermarket: 'icon-supermarket.svg',
        savings: 'icon-savings.svg',
        presentation: 'icon-presentation.svg',
        portfolio: 'icon-portfolio.svg',
        placeholder: 'icon-placeholder.svg',
        people: 'icon-people.svg',
        money: 'icon-money.svg',
        home-sofipo: 'icon-home-sofipo.svg',
        foo-youtube: 'icon-foo-youtube.svg',
        foo-twitter: 'icon-foo-twitter.svg',
        foo-linkedin: 'icon-foo-linkedin.svg',
        foo-facebook: 'icon-foo-facebook.svg',
        credit-card: 'icon-credit-card.svg',
        coins: 'icon-coins.svg',
        check: 'icon-check.svg',
        benefits: 'icon-benefits.svg',
        amsofipo-alt: 'icon-amsofipo-vertical.svg',
        
    }