-
    const footerSocials = [
            {
                name: 'linkedin',
                url: 'https://mx.linkedin.com/company/amsofipo',
            },
            {
                name: 'facebook',
                url: 'https://www.facebook.com/Amsofipo/',
            },
            {
                name: 'twitter',
                url: 'https://twitter.com/amsofipo',
            },
        ]