-
    const BENEFICIOS = [
       'Acceso a microcréditos ajustados a las características de los clientes, mercado, región geográfica y al riesgo que presentan.',
       'Fortalecer el sistema de protección de los ahorros del sector de microfinanzas y el esquema de supervisión auxiliar. Acceso a operaciones como el arrendamiento y el factoraje financiero.',
       'Asistencia técnica para elaborar planes de negocios y proyectos de comercialización.',
       'Desarrollo comunitario sobre bases formativas y del esfuerzo individual y colectivo.',
       'Acceso a servicios financieros a personas de bajos ingresos, ofreciéndoles la oportunidad de mantener de forma segura sus ahorros.',
       'Adherirse a los beneficios de una póliza de seguro de vida a bajo costo.',
       'Capacitación en el análisis de proyectos de inversión.',
    ]