-
    const FINANZASPERSONALES = [
        {
            title: 'Planea a futuro',
            text: '¿Te has puesto a pensar en tu economía cuando llegue el momento de tu retiro? Es un tema que no pasar desapercibido sin importar la edad que tengas. Por ello te damos tres opciones [...]',
            href: 'planea-a-futuro.html',
            img: 'cover-09.png',
        },
        {
            title: 'Microcreditos',
            text: 'Seguramente en más de una ocasión has recibido información de empresas que ofrecen préstamos en internet inmediatos, sin importar la cantidad y con trámites muy sencillos. Procura tener cuidado [...]',
            href: 'microcreditos.html',
            img: 'cover-10.png',
        },
        {
            title: 'Cuida tu SOFIPO del robo de identidad',
            text: 'El robo de identidad es un delito que ha ido en aumento en últimas fechas. Por ello, te dejamos una serie de recomendaciones [...]',
            href: 'cuida-tu-sofipo-del-robo-de-identidad.html',
            img: 'cover-11.png',
        },
        {
            title: 'Hablemos de remesas',
            text: 'Con la idea de mejorar el nivel de vida, hay personas que optan por irse de su país de origen a otro. A este fenómeno se le conoce como migración, y principalmente lo hacen para [...]',
            href: 'hablemos-de-remesas.html',
            img: 'cover-12.png',
        },
        {
            title: 'Las cuentas del buen fin',
            text: 'Desde el 2011 se puso en marcha el programa llamado El Buen Fin, con el cual se busca reactivar la economía del país así como el [...]',
            href: 'las-cuentas-del-buen-fin.html',
            img: 'cover-13.png',
        },
        {
            title: '¿Y tú tienes una cuenta de ahorro?',
            text: 'Ya estamos en los últimos meses del año y vienen consigo promociones de fin de temporada, ventas especiales como El Buen Fin y las fiestas decembrinas, momentos en los que se antoja comprar infinidad de bienes y productos, pero recuerda que para no tener problemas económicos en un futuro, [...]',
            href: 'y-tu-tienes-una-cuenta-de-ahorro.html',
            img: 'cover-14.png',
        },
        {
            title: 'Conviértete en un buen inversionista',
            text: 'Las inversiones serán una forma con la que puedes hacer crecer tu dinero. Pero para que esto suceda, es necesario que consideres lo siguiente: [...]',
            href: 'conviertete-en-un-buen-inversionista.html',
            img: 'cover-15.png',
        },
        {
            title: 'El microcrédito y sus finanzas',
            text: '¿Cuántas veces no has escuchado hablar sobre los créditos y cómo es que éstos pueden ayudarte en la adquisición de algún bien o pagar servicios?, seguramente más de una. En esta ocasión, te hablaremos sobre los microcréditos, ¿sabes cómo funcionan? [...]',
            href: 'el-microcredito-y-sus-finanzas.html',
            img: 'cover-16.png',
        },
        {
            title: 'Protege tu SOFIPO del robo de identidad',
            text: 'Es importante que al ser una entidad que ofrece servicios de ahorro, crédito e inversión, tomes algunas precauciones para que gente ajena a tu empresa, no haga mal uso de tu imagen o de la [...]',
            href: 'protege-tu-sofipo-del-robo-de-identidad.html',
            img: 'cover-17.png',
        },
        {
            title: 'Visita el Buró de Entidades Financieras',
            text: 'Actualmente la CONDUSEF pone a tu disposición una herramienta en Internet que permite revisar la situación de la Banca Mexicana. De esta manera, podrás conocer ampliamente en qué institución te conviene más solicitar productos financieros: te hablamos del Buró de Entidades Financieras. [...]',
            href: 'visita-el-buro-de-entidades-financieras.html',
            img: 'cover-18.png',
        },
        {
            title: 'Conoce la terminología crediticia',
            text: 'Si ya cuentas con una tarjeta de crédito, hay varios conceptos que te sugerimos conozcas. [...]',
            href: 'conoce-la-terminologia-crediticia.html',
            img: 'cover-19.png',
        },
        {
            title: 'Microseguros, una opción de protección',
            text: 'Un seguro siempre será un servicio que ayude a salir de alguna situación inesperada ya sea en casa, en aspectos de salud, o en empresas. Por ello, en esta ocasión, hablaremos de [...]',
            href: 'microseguros-una-opcion-de-proteccion.html',
            img: 'cover-20.png',
        },
        {
            title: '¿Sabes qué es el factoraje financiero?',
            text: 'Uno de los términos manejados en el ambiente financiero es el factoraje. Éste, puede ser visto como una alternativa que permite disponer anticipadamente de las cuentas por cobrar. En esta actividad participan tres actores: la empresa de factoraje, el vendedor o cliente y el deudor. [...]',
            href: 'sabes-que-es-el-factoraje-financiero.html',
            img: 'cover-21.png',
        },
        {
            title: '¿Tu negocio en crisis?',
            text: '¿Sabes qué hacer si tu negocio cae en problemas financieros? No entres en crisis, te compartimos algunas recomendaciones [...]',
            href: 'tu-negocio-en-crisis.html',
            img: 'cover-22.png',
        },
        {
            title: 'Que la cuesta no te cueste, Enero 2016',
            text: 'Quizás hiciste varios gastos en las pasadas fiestas decembrinas y eso está generando problemas en tus bolsillos, sí, la cuesta de enero está haciendo de las suyas. No te preocupes te damos algunos tips [...]',
            href: 'que-la-cuesta-no-te-cueste-enero-2016.html',
            img: 'cover-23.png',
        },
        {
            title: 'Presupuesta e inicia bien el año en 2016, Diciembre 2015',
            text: 'Estamos ya por terminar el año y es un buen momento para que comiences a elaborar tu presupuesto. Te presentamos algunas recomendaciones [...]',
            href: 'presupuesta-e-inicia-bien-el-2016.html',
            img: 'cover-24.png',
        },
        {
            title: 'Compra responsable en el Buen Fin, Noviembre 2015',
            text: 'El Buen Fin está cerca y te damos algunos tips para cuidar tu cartera. [...]',
            href: 'compra-responsable-en-el-buen-fin-noviembre-2015.html',
            img: 'cover-25.png',
        },
        {
            title: '¿Has escuchado hablar de los gastos hormiga?, Septiembre 2015',
            text: '¿Has escuchado hablar de los gastos hormiga? Son aquellos que realizamos a lo largo del día, de la semana o del mes, a los que no le ponemos atención por ser cotidianos, como comprar café todas las mañanas, cigarros sueltos, megas para navegar en Internet, insumos de oficina, entre otros, pero, ¿sabes cómo fumigarlos? [...]',
            href: 'has-escuchado-hablar-de-los-gastos-hormiga-septiembre-2015.html',
            img: 'cover-26.png',
        },
        {
            title: 'Banca en línea segura, Octubre 2015',
            text: 'Al momento de hacer transacciones bancarias en línea, presta mucha atención a la información que proporcionas. Te dejamos algunos tips de seguridad. [...]',
            href: 'banca-en-linea-segura-octubre-2015.html',
            img: 'cover-27.png',
        },
    ]