-
    const CASOS_EXITO = [
        {
            url: 'https://www.youtube.com/embed/21Q3SWKymow',
            title: 'Testimonio',
            descripcion: 'BIENESTAR, Francisco Rabell',
        },
        {
            url: 'https://www.youtube.com/embed/TYvGpDhNmUA',
            title: 'Testimonio',
            descripcion: 'SOLUCIÓN ASEA, Artesanías con coral negro, Yucatán.',
        },
        {
            url: 'https://www.youtube.com/embed/nqkriMg7uKw',
            title: 'Testimonio',
            descripcion: 'SOLUCIÓN ASEA, Artesanías, San Cristóbal de las Casas, Chiapas',
        },
        {
            url: 'https://www.youtube.com/embed/MjQQNoo8yWI',
            title: 'Testimonio',
            descripcion: 'SOLUCIÓN ASEA, Artesanías Chiapas',
        },
    ]