- 
    const NOTAS = [
        {
            titulo: 'Atender cáncer de mama cuesta entre 100 mil y 300 mil pesos - Microseguros de salud en Sofipos',
            autor: 'Entrevista David Romero Morfín',
            medio: 'Gira tus finanzas',
            fecha: '22 de octubre, 2019',
            href: 'https://youtu.be/CBMuLEVNdUM',
        },
        {        
            titulo: 'Sofipos, pioneras en la implementación del CoDi',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '30 de septiembre, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Sofipos-pioneras-en-implementacion-del-CoDi-20190930-0101.html',
        },
        {        
            titulo: 'Sofipos grandes serían reguladas como bancos, adelanta la CNBV',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '18 de agosto, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Sofipos-grandes-serian-reguladas-como-bancos-adelanta-la-CNBV-20190818-0042.html',
        },
        {        
            titulo: 'Interés en Sofipos se reactiva',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '08 de agosto, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Interes-en-sofipos-se-reactiva-20190808-0089.html',
        },
        {        
            titulo:	'SOFIPOS ven oportunidad pese a desaceleración económica',
            autor: 'Julio Gutiérrez',
            medio: 'La Jornada',
            fecha: '07 de agosto, 2019',
            href: 'https://www.jornada.com.mx/ultimas/economia/2019/08/06/sofipos-ven-como-oportunidad-la-desaceleracion-economica-7170.html',
        },
        {        
            titulo: 'SOFIPOS van por más clientes con ayuda del CoDi',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '06 de agosto, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Sofipos-van-por-mas-clientes-con-ayuda-del-CoDi-20190806-0078.html',
        },
        {        
            titulo: 'Clientes de SOFIPOS aumentaron un 14%',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '06 de agosto, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Clientes-de-sofipos-aumentaron-14-20190806-0103.html',
        },
        {        
            titulo: 'Microfinancieras se consolidan en mercado bursátil',
            autor: 'Clara Zepeda',
            medio: 'El Financiero',
            fecha: '02 de agosto, 2019',
            href: 'https://www.elfinanciero.com.mx/mercados/microfinancieras-se-consolidan-en-mercado-bursatil',
        },
        {        
            titulo: 'Crediclub, la tercera sofipo que acude al mercado bursátil',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '24 de julio, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Crediclub-la-tercera-sofipo-que-acude-al-mercado-bursatil-20190724-0130.html',
        },
        {        
            titulo: 'Suma corresponsales a la plataforma CoDi',
            autor: 'Carolina Reyes',
            medio: 'Excelsior',
            fecha: '14 de mayo, 2019',
            href: 'https://www.excelsior.com.mx/periodico/flip-dinero/14-05-2019/portada.pdf',
        },
        {        
            titulo:	'Cuatro SOFIPOS más en puerta para el uso del CoDi',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '13 de mayo, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Cuatro-sofipos-mas-en-puerta-para-el-uso-del-CoDi-20190513-0124.html',
        },
        {        
            titulo: 'CoDi, un piloto formal y 20 en curso',
            autor: '',
            medio: 'Alicia Salgado',
            fecha: '13 de mayo, 2019',
            href: 'https://www.dineroenimagen.com/alicia-salgado/codi-un-piloto-formal-y-29-en-curso/109836',
        },
        {        
            titulo: 'Entrevista a David Romero Morfín, nuevo Presidente AMSOFIPO (minuto 22:51)',
            autor: 'Yuridia Torres',
            medio: 'Gira tus finanzas',
            fecha: '03 de abril, 2019',
            href: 'https://www.facebook.com/giratusfinanzas/videos/812095965819781/',
        },
        {        
            titulo: 'Financieras Populares tienen la infraestructura para apoyar programas sociales',
            autor: 'Pamela Cruz',
            medio: 'Notimex',
            fecha: '03 de abril, 2019',
            href: 'https://www.capitalmexico.com.mx/economia/financieras-populares-tienen-la-infraestructura-para-apoyar-programas-sociales/',
        },
        {        
            titulo: 'Las Sofipo buscan sumarse al cobro digital',
            autor: 'Dora Villanueva',
            medio: 'La Jornada',
            fecha: '03 de abril, 2019',
            href: 'https://www.jornada.com.mx/2019/04/03/economia/019n3eco',
        },
        {        
            titulo: 'Sofipos también buscan utilizar plataforma CoDi',
            autor: 'Karen Guzmán',
            medio: 'Milenio',
            fecha: '03 de abril, 2019',
            href: 'https://www.milenio.com/negocios/sofipos-buscan-utilizar-plataforma-codi-banxico',
        },
        {        
            titulo: 'Amsofipo se suma a intención de regulación diferenciada',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '03 de abril, 2019',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Amsofipo-se-suma-a-intencion-de-regulacion-diferenciada-20190402-0146.html',
        },
        {
            titulo: 'Estos son los 8 puntos del Programa de Impulso al Sector Financiero del Gobierno de AMLO',
            autor: 'Redacción',
            medio: 'El Financiero',
            fecha: '08 de enero, 2019',
            href: 'https://www.elfinanciero.com.mx/economia/gobierno-de-amlo-presenta-programa-de-impulso-al-sector-financiero',
        },
        {        
            titulo:	'El mercado es el que regula las comisiones: Amsofipo',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '05 de diciembre, 2018',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/El-mercado-es-el-que-regula-las-comisiones-Amsofipo-20181205-0115.html',
        },
        {        
            titulo: 'Limitar ahorro no es la solución para evitar cierre de sofipos: Amsofipo',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '25 de noviembre, 2018',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Limitar-ahorro-no-es-la-solucion-para-evitar-cierre-de-sofipos-Amsofipo-20181125-0045.html',
        },
        {        
            titulo: 'CNBV busca facilitar cobro de seguros de ahorro en Sofipos',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '04 de octubre, 2018',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/CNBV-busca-facilitar-cobro-de-seguro-de-ahorro-en-sofipos-20181004-0101.html',
        },
        {        
            titulo: 'Banca social y cooperativas',
            autor: 'Alicia Salgado',
            medio: 'Cuenta Corriente',
            fecha: '01 de octubre, 2018',
            href: 'https://www.dineroenimagen.com/alicia-salgado/banca-social-y-cooperativas/103585',
        },
        {        
            titulo: 'Te Creemos adquirirá el 100% de Came',
            autor: 'Redacción',
            medio: 'El Economista',
            fecha: '12 de marzo, 2018',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/Te-Creemos-adquirira-el-100-de-Came-20180312-0034.html',
        },
        {
            titulo: 'Sofipo Te Creemos duplicará su tamaño',
            autor: 'Jeanette Leyva',
            medio: 'El Financiero',
            fecha: '13 de marzo, 2018',
            href: 'https://www.elfinanciero.com.mx/economia/sofipo-te-creemos-duplica-su-tamano',
        },
        {
            titulo: 'En el 2017 cambió el sector de las Sofipo',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '17 de enero, 2018',
            href: 'https://www.eleconomista.com.mx/sectorfinanciero/En-el-2017-cambio-el-sector-de-las-sofipos-20180117-0148.html',
        },
        {
            titulo: 'Cuenta Corriente',
            autor: 'Alicia Salgado',
            medio: 'Columna De Fondos a Fondo en Excélsior',
            fecha: '11 de enero, 2018',
            href: '../assets/AMSOFIPO_NOTA_11012018_2.pdf',
        },
        {    
            titulo: 'Te Creemos es reconocida como la mejor sofipo de México en el 2017',
            autor: 'Redacción',
            medio: 'El Economista Internet',
            fecha: '11 de enero, 2018',
            href: '../assets/AMSOFIPO_NOTA_11012018_1.pdf',
        },
        { 
            titulo: 'SOFIPOS RECIBEN AVAL DE CNBV PARA DAR PERIODOS DE GRACIA A AFECTADOS',
            autor: 'Fernando Gutiérrez',
            medio: 'El Economista',
            fecha: '26 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_261017.pdf',
        },
        {
            titulo:	'SHCP LANZA ESTRATEGIA EN CONTRA DEL CIBERCRIMEN',
            autor: 'Leonor Flores y Antonio Hernández',
            medio: 'El Universal',
            fecha: '24 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_241017.pdf',
        },
        {
            titulo: 'PRESENTAN LA ESTRATEGIA NACIONAL DE CIBERSEGURIDAD',
            autor: 'Notimex',
            medio: 'El Economista',
            fecha: '23 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_231017.pdf',
        },
        {
            titulo:	'FINANCIEROS CONTRA EL CIBERDELITO',
            autor:	'Miguel Ramírez',
            medio:	'Dinero, Negocios y Finanzas',
            fecha:	'23 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_231017_4.pdf',
        },
        {
            titulo:	'CREAN FRENTE NACIONAL SOBRE CIBERSEGURIDAD',
            autor:	'Edgar Juárez Y Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'23 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_231017_3.pdf',
        },
        {
            titulo:	'PRESENTAN ESTRATEGIA CONTRA CIBERATAQUES A SISTEMA FINANCIERO',
            autor:	'Sergio Ramírez',
            medio:	'Megalópolis',
            fecha:	'23 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_231017_1.pdf',
        },
        {
            titulo:	'PREPARAN PLAN DE FINANCIAMIENTO EN APOYO A MIGRANTES REPATRIADOS',
            autor:	'Sergio Robles',
            medio:	'Quadratín',
            fecha:	'19 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_191017.pdf',
        },
        {
            titulo:	'CNBV ALISTA REGLAS PARA NO BANCARIOS EN BENEFICIO DE DAMNIFICADOS',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'17 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_171017.pdf',
        },
        {
            titulo:	'FINANCIERAS NO BANCARIAS ACTÚAN ANTE LA EMERGENCIA POR DESASTRES NATURALES',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'15 de octubre, 2017',
            href: '../assets/economista15102017.pdf',
        },
        {
            titulo:	'SANDBOX, PUERTA PARA ENTIDADES REGULADAS AL ECOSISTEMA FINTECH',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'03 de octubre, 2017',
            href: '../assets/AMSOFIPO_NOTA_031017.pdf',
        },
        {
            titulo:	'Entrevista Myriam Chávez, Directora General AMSOFIPO',
            autor:	'SDyA',
            medio:	'Siempre 88.9',
            fecha:	'13 de julio, 2017',
            href: '../assets/Mayo_SOFIPO_MChavez_01.mp3',
        },
        {
            titulo:	'3ra Convención Nacional AMSOSIPO',
            autor:	'Notas de prensa',
            medio:	'AMSOFIPO',
            fecha:	'28, 29 y 30 de junio, 2017',
            href: '../assets/AMSOFIPO_3CN_Notas_Prensa.pdf',
        },
        {
            titulo:	'SOCIEDADES FINANCIERAS POPULARES',
            autor:	'Alicia Salgado',
            medio:	'Cuenta corriente, Dinero en Imagen',
            fecha:	'26 de junio, 2017',
            href: '../assets/AMSOFIPO_NOTA_CONV_260617.pdf',
        },
        {
            titulo:	'SOCIEDADES FINANCIERAS POPULARES BUSCAN OPCIONES DE AYUDA A PEQUEÑOS NEGOCIOS',
            autor:	'Roberto González Amador',
            medio:	'La Jornada',
            fecha:	'23 de junio, 2017',
            href: '../assets/AMSOFIPO_NOTA_CONV_230617_lajornada.pdf',
        },
        {
            titulo:	'PESE A ALZA EN TASAS, CRÉDITO SE MANTIENE',
            autor:	'Antonio Hernández',
            medio:	'El Universal',
            fecha:	'23 de junio, 2017',
            href: '../assets/AMSOFIPO_NOTA_CONV_230617_eluniversal.pdf',
        },
        {
            titulo:	'SOFIPOS APROVECHARÍAN EL SANDBOX PARA HACER INNOVACIONES: AMSOFIPO',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'23 de junio, 2017',
            href: '../assets/AMSOFIPO_NOTA_CONV_230617_economista.pdf',
        },
        {
            titulo:	'EL CONTADOR',
            autor:	'',
            medio:	'Excélsior',
            fecha:	'15 de junio, 2017',
            href: '../assets/Junio_Nota_Convencion.pdf',
        },
        {
            titulo:	'EN JUNIO, CONVENCIÓN DE AMSOFIPO',
            autor:	'Ángeles Aguilar',
            medio:	'La Razón de México',
            fecha:	'24 de mayo, 2017',
            href: '../assets/Mayo_Convencion_AMSOFIPO.pdf',
        },
        {
            titulo:	'SOCIEDADES FINANCIERAS POPULARES (SOFIPOS)',
            autor:	'Carmen Muñoz',
            medio:	'IMER',
            fecha:	'08 de mayo, 2017',
            href: '#',
        },
        {
            titulo:	'SOFIPOS, MÁS RENTABLES QUE BANCOS PEQUEÑOS',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'24 de abril, 2017',
            href: '../assets/Abril_Sofipos_Mas_Rentables.pdf',
        },
        {
            titulo:	'GUILLERMO COLÍN, PRESIDENTE DE LA AMSOFIPO',
            autor:	'SDyA',
            medio:	'Siempre 88.9',
            fecha:	'20 de abril, 2017',
            href: '../assets/Entrevista_Guillermo_Colin.mp3',
        },
        {
            titulo:	'LA CNBV SOLICITARÁ A LAS SOFIPOS MAYORES NIVELES DE CAPITALIZACIÓN',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'17 de abril, 2017',
            href: '../assets/Abril_CNBV_Solicita_Mayores_Niveles_Capitalizacion.pdf',
        },
        {
            titulo:	'BANXICO, CON SEGUIMIENTO MÁS PUNTUAL A SOFIPOS',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'10 de abril, 2017',
            href: '../assets/Abril_Banxico_Seguimiento_SOFIPOS.pdf',
        },
        {
            titulo:	'SOFIPOS NO DEBEN QUEDARSE ATRÁS EN TEMAS FINTECH: SHCP',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'04 de abril, 2017',
            href: '../assets/Abril_Sistema_Alertas_Tempranas-CNBV.pdf',
        },
        {
            titulo:	'LEY FINTECH, CON MÁS PARTICIPANTES',
            autor:	'Carolina Reyes',
            medio:	'Nombre, Nombres y … nombres vía Milenio',
            fecha:	'04 de abril, 2017',
            href: '../assets/Abril_Ley_Fintch.pdf',
        },
        {
            titulo:	'SOFIPOS, PRIMERAS EN LÍNEA ANTILAVADO',
            autor:	'Carolina Reyes',
            medio:	'Excélsior',
            fecha:	'04 de abril, 2017',
            href: '../assets/Abril_Sofipos_Primeras_Linea_Antilavado.pdf',
        },
        {
            titulo:	'MÉXICO ENTIENDE ENFOQUE BASADO EN RIESGOS',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'04 de abril, 2017',
            href: '../assets/Abril_Enfoque_Entiende_Enfoque_Basado_Riesgos.pdf',
        },
        {
            titulo:	'SOFIPOS JUNTA ANUAL, SOSTENDRÁN DINÁMICA DADA BAJA INCLUSIÓN, POR CORRESPONSALES Y 2 EN TRÁMITE',
            autor:	'Alberto Aguilar',
            medio:	'Nombre, Nombres y … nombres vía Milenio',
            fecha:	'08 de marzo, 2017',
            href: '../assets/Marzo_Sofipos_junta_anual.pdf',
        },
        {
            titulo:	'AHORRO DE LAS SOFIPOS CONTINÚA EN TERRENO POSITIVO',
            autor:	'Fernando Gutiérrez',
            medio:	'El Economista',
            fecha:	'18 de enero, 2017',
            href: '../assets/Febrero_Ahorro_Sofipo_Terreno_Positivo.pdf',
        },
        {
            titulo:	'INTERMEDIARIOS RESIENTEN ALZA DE TASAS',
            autor:	'Jeanette Leyva',
            medio:	'El Financiero',
            fecha:	'',
            href: '../assets/Febrero_Intermediarios_resienten_alza_tasas.pdf',
        },
        {
            titulo:	'RUTA DEL DINERO',
            autor:	'Por Rogelio Varela',
            medio:	'',
            fecha:	'06 de julio, 2016',
            href: '../assets/Cronica_RutaDinero.pdf',
        },
        {
            titulo:	'BUENA CONDUCTA',
            autor:	'Por Alberto Barranco',
            medio:	'',
            fecha:	'04 de junio, 2016',
            href: '../assets/nota_amsofipo_jun.pdf',
        },
        { 
            titulo:	'(AUDIO) Entrevista Myriam Chávez, Directora General AMSOFIPO y Guillermo Colín, Presidente AMSOFIPO',
            autor:	'',
            medio:	'',
            fecha:	'30 de mayo, 2016',
            href: '../assets/entrevistaAmsofipo.mp3',
        },
        {
            titulo:	'SOFIPOS CRECEN CON CALIDAD CREDITICIA. Están cumpliendo con los requerimientos de la autoridad en materia de',
            autor:	'',
            medio:	'Excélcior ',
            fecha:	'26 de mayo, 2016',
            href: '../assets/CUMPLEN-CON-MEDIDAS-ANTILAVADO.pdf',
        },
        {
            titulo:	'CNBV APOYA A SOFIPOS EN NUEVOS NEGOCIOS. El crowdfunding es un modelo que se utiliza cada vez más por estos intermediarios',
            autor:	'',
            medio:	'El Economista ',
            fecha:	'18 de abril, 2016',
            href: '../assets/Economista_18_04_16.pdf',
        },
        {
            titulo:	'SE PUEDE MEJORAR REGULACIÓN A SOFIPOS SIN LEY FICREA: CNBV',
            autor:	'',
            medio:	'El Economista',
            fecha:	'05 de abril, 2016',
            href: '../assets/economista_05_04_16.pdf',
        },
        {
            titulo:	'SOFIPOS TOMAN MEDIDAS PARA EVITAR FRAUDE',
            autor:	'',
            medio:	'El Economista',
            fecha:	'04 de abril, 2016',
            href: '../assets/economista_04_04_16.pdf',
        },
        {
            titulo:	'REGULAR SOFIPOS SIN APLICAR LEY FICREA, UNA POSIBILIDADES',
            autor:	'',
            medio:	'El Financiero',
            fecha:	'04 de abril, 2016',
            href: '../assets/financiero_04_04_16.pdf',
        },
        {
            titulo:	'ADVIERTEN CONSOLIDACIÓN EN SECTOR SOFIPO',
            autor:	'',
            medio:	'El Financiero',
            fecha:	'03 de abril, 2016',
            href: '../assets/ElFinanciero3_4_16.pdf',
        },
        {
            titulo:	'¿AHORRAR EN TANDAS O EN UN BANCO?',
            autor:	'',
            medio:	'',
            fecha:	'01 de diciembre, 2015',
            href: '../assets/Ahorrarentandas.docx',
        },
        {
            titulo:	'LAS SOFIPOS MARCAN DIFERENCIA EN HOGARES',
            autor:	'',
            medio:	'El Economista',
            fecha:	'08 de septiembre, 2015',
            href: '../assets/ElEconomistaSept8.pdf',
        },
        {
            titulo:	'AL CAPTAR SE POTENCIALIZARÁ EL ESQUEMA DE KUBO: FENOLL',
            autor:	'',
            medio:	'El Economista ',
            fecha:	'01 de julio, 2015',
            href: '../assets/Economista1julio.pdf',
        },
        {
            titulo:	'BUSCAN DAR MAYOR SEGURIDAD A CLIENTES',
            autor:	'',
            medio:	'Excélsior ',
            fecha:	'31 de junio, 2015',
            href: '../assets/Excelcior_30junio.pdf',
        },
        {
            titulo:	'CELEBRAN EN BCS PRIMER CONGRESO NACIONAL DE ASOCIACIÓN MEXICANA DE SOCIEDADES FINANCIERAS POPULARES',
            autor:	'',
            medio:	'Sudcaliforniano',
            fecha:	'25 de junio, 2015',
            href: '../assets/Sudcaliforniano25jun.pdf',
        },
        {
            titulo:	'FICREA ES UN CASO AISLADO EN EL SECTOR',
            autor:	'',
            medio:	'El Financiero',
            fecha:	'25 de junio, 2015',
            href: '../assets/Financiero25jun.pdf',
        },
        {
            titulo:	'TERMÓMETRO ECONÓMICO',
            autor:	'',
            medio:	'El Economista ',
            fecha:	'25 de junio, 2015',
            href: '../assets/Economista25jun.pdf',
        },
        {
            titulo:	'FINANCIERAS POPULARES TIENEN GARANTIZADA SU EXISTENCIA A PESAR DE FRAUDES',
            autor:	'',
            medio:	'La Jornada',
            fecha:	'26 de junio, 2015',
            href: '../assets/La-Jornada-02.pdf',
        },
        {
            titulo:	'SOFIPOS PELEARÁN CONTRA ALZA EN LAS TASAS DE FONDEO: COINCIDIR',
            autor:	'',
            medio:	'El Economista',
            fecha:	'26 de junio, 2015',
            href: '../assets/Economista-2.pdf',
        },
        {
            titulo:	'SUPERAR CASO DE FICREA, EL RETO DE LAS SOFIPOS: AMSOFIPO',
            autor:	'',
            medio:	'El Economista',
            fecha:	'26 de junio, 2015',
            href: '../assets/Economista.pdf',
        },
        {
            titulo:	'SOFIPOS PIDEN QUE NO LAS SATANICEN POR CASO FICREA',
            autor:	'',
            medio:	'Excélsior',
            fecha:	'26 de junio, 2015',
            href: '../assets/Excelsior.pdf',
        },
        {
            titulo:	'FICREA ES UN CASO AISLADO EN EL SECTOR: AMSOFIPO',
            autor:	'',
            medio:	'El Financiero',
            fecha:	'26 de junio, 2015',
            href: '../assets/Financiero.pdf',
        },
        {
            titulo:	'FINANCIERAS POPULARES TIENEN GARANTIZADA SU EXISTENCIA A PESAR DE FRAUDES',
            autor:	'',
            medio:	'La Jornada',
            fecha:	'26 de junio, 2015',
            href: '../assets/Milenio27_jun.pdf',
        },
        {
            titulo:	'BANSEFI ALISTA PLAN DE GARANTÍAS PARA SOFIPOS',
            autor:	'',
            medio:	'La Razón',
            fecha:	'26 de junio, 2015',
            href: '../assets/La-Razon.pdf',
        },
        {
            titulo:	'EXIJEN IVA POR COMIDA PREPARADA A LOS OMISOS',
            autor:	'',
            medio:	'Milenio',
            fecha:	'26 de junio, 2015',
            href: '../assets/Milenio.pdf',
        },
        {
            titulo:	'RECONOCE ISIDRO JORDÁN EL APOYO QUE OTORGAN DONDE NO HAY SERVICIOS BANCARIOS',
            autor:	'',
            medio:	'Sudcaliforniano',
            fecha:	'26 de junio, 2015',
            href: '../assets/Sudcaliforniano-2.pdf',
        },
        {
            titulo:	'FINANCIERAS POPULARES, CELEBRAN CONGRESO NACIONAL',
            autor:	'',
            medio:	'Sudcaliforniano',
            fecha:	'26 de junio, 2015',
            href: '../assets/Sudcaliforniano.pdf',
        },
        {
            titulo:	'SOFIPOS PIDEN QUE NO LAS SATANICEN POR CASO FICREA',
            autor:	'',
            medio:	'La Razón',
            fecha:	'27 de junio, 2015',
            href: '../assets/Excelsior_27jun.pdf',
        },
        {
            titulo:	'TELECOMM, MÁS BANCOS Y EN JULIO, TARJETA DE DÉBITO',
            autor:	'',
            medio:	'La Razón',
            fecha:	'29 de junio, 2015',
            href: '../assets/La_Razon_29jun.pdf',
        },
        {
            titulo:	'BUSCAN DARLE MAYOR SEGURIDAD A CLIENTES',
            autor:	'',
            medio:	'Excelsior',
            fecha:	'30 de junio, 2015',
            href: '../assets/Excelcior_30junio.pdf',
        },
        {
            titulo:	'AMSOFIPO TAMBIÉN CRITICA NUEVA PRÓRROGA A SOCAPS ',
            autor:	'',
            medio:	'El Economista',
            fecha:	'25 de diciembre, 2014',
            href: 'http://eleconomista.com.mx/sistema-financiero/2012/12/25/amsofipo-tambien-critica-nueva-prorroga-socaps',
        },
        {
            titulo:	'SOCIEDADES POPULARES CRECERÁN ',
            autor:	'',
            medio:	'El Economista',
            fecha:	'24 de diciembre, 2014',
            href: 'http://eleconomista.com.mx/sistema-financiero/2012/11/11/sociedades-populares-creceran',
        },
        {
            titulo:	'ASOCIACIÓN DEFIENDE A SOFIPOS TRAS CASO FICREA ',
            autor:	'',
            medio:	'El Universal / Notimex',
            fecha:	'29 de diciembre, 2014',
            href: '../assets/notimex_dic_14.pdf',
        },
        {
            titulo:	'SOCIEDADES FINANCIERAS POPULARES, MÁS ALLÁ DEL CASO FICREA ',
            autor:	'',
            medio:	'NOTIMEX',
            fecha:	'29 de diciembre, 2014',
            href: '../assets/notimex_dic_29.pdf',
        },
        {
            titulo:	'NO HAY RIESGO SISTÉMICO POR CASO FICREA, ASEGURA EL SECTOR) ',
            autor:	'',
            medio:	'EL UNIVERSAL',
            fecha:	'28 de diciembre, 2014',
            href: '../assets/universal_nohayriesgo.pdf',
        },
        {
            titulo:	'TEMEN AFECTACIÓN POR LIQUIDACIÓN DE FICREA',
            autor: '',
            medio: 'El Financiero',
            fecha: '25 de diciembre, 2014',
            href: '../assets/financiero_temenafectacion.pdf',
        },
        {
            titulo: 'SOFIPOS AVANZAN EN CUENTAS DE AHORRO. REPRESENTAN 24% DEL TOTAL DE LOS CONTRATOS DEL SECTOR POPULAR.',
            autor: '',
            medio: 'El Economista',
            fecha: '17 de diciembre, 2014',
            href: '../assets/eleconomista_sofiposavanzan.pdf',
        },
        {
            titulo:	'SOFIPOS PIDEN SER INCLUÍDAS EN REFORMA FINANCIERA',
            autor: '',
            medio: 'El Economista',
            fecha: '22 de abril, 2013',
            href: 'http://eleconomista.com.mx/sistema-financiero/2013/01/21/sofipos-lanzaran-campana-posicionamiento',
        },
        {
            titulo:	'SOFIPOS LANZARÁN CAMPAÑA DE POSICIONAMIENTO',
            autor: '',
            medio: 'El Economista',
            fecha: '21 de enero, 2013',
            href: 'http://eleconomista.com.mx/sistema-financiero/2013/01/21/sofipos-lanzaran-campana-posicionamiento',
        },
        {
            titulo:	'SOFIPOS NO MIGRARÁN A BANCO',
            autor: '',
            medio: 'El Economista',
            fecha: '27 de diciembre, 2012',
            href: '../assets/financiero_temenafectacion.pdf',
        },
        {
            titulo:	'SOFIPOS TIENEN GRAN POTENCIAL',
            autor: '',
            medio: 'El Economista',
            fecha: '04 de diciembre, 2012',
            href: '../assets/financiero_temenafectacion.pdf',
        },
    ]