-
    
    //- const INDICATORS_2015 = [
    //-     {
    //-         mes: 'Octubre',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,175,594',
    //-         numero_de_sucursales: '1,051',
    //-         activo_total: '24,707',
    //-         captacion: '17,787',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Marzo',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,057,140',
    //-         numero_de_sucursales: '1,043',
    //-         activo_total: '24,345',
    //-         captacion: '17,450',
    //-         municipios_atendidos: '1,629',
    //-     },
    //- ]

    //-  const INDICATORS_2016 = [
    //-     {
    //-         mes: 'Diciembre',
    //-         sofipos_autorizadas_en_operacion: '43',
    //-         numero_de_clientes: '3,558,971',
    //-         numero_de_sucursales: '1,206',
    //-         activo_total: '31,283',
    //-         captacion: '20,233',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Septiembre',
    //-         sofipos_autorizadas_en_operacion: '43',
    //-         numero_de_clientes: '3,493,998',
    //-         numero_de_sucursales: '1,103',
    //-         activo_total: '29,992',
    //-         captacion: '19,937',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Junio',
    //-         sofipos_autorizadas_en_operacion: '45',
    //-         numero_de_clientes: '3,475,437',
    //-         numero_de_sucursales: '1,103',
    //-         activo_total: '28,062',
    //-         captacion: '19,617',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Marzo',
    //-         sofipos_autorizadas_en_operacion: '45',
    //-         numero_de_clientes: '3,423,472',
    //-         numero_de_sucursales: '1,099',
    //-         activo_total: '27,204',
    //-         captacion: '19,003',
    //-         municipios_atendidos: '1,629',
    //-     },
    //- ]

    //- const INDICATORS_2017 = [
    //-     {
    //-         mes: 'Septiembre',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,842,849',
    //-         numero_de_sucursales: '1,183',
    //-         activo_total: '32,797',
    //-         captacion: '20,573',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Junio',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,764,887',
    //-         numero_de_sucursales: '1,160',
    //-         activo_total: '31,603',
    //-         captacion: '19,872',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Marzo',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,576,562',
    //-         numero_de_sucursales: '1,158',
    //-         activo_total: '30,202',
    //-         captacion: '19,411',
    //-         municipios_atendidos: '1,629',
    //-     },
    //- ]

    //- const INDICATORS_2018 = [
    //-     {
    //-         mes: 'Diciembre',
    //-         sofipos_autorizadas_en_operacion: '39',
    //-         numero_de_clientes: '3,899,662',
    //-         numero_de_sucursales: '1,165',
    //-         activo_total: '32,035',
    //-         captacion: '19,729',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Septiembre',
    //-         sofipos_autorizadas_en_operacion: '40',
    //-         numero_de_clientes: '3,861,866',
    //-         numero_de_sucursales: '1,204',
    //-         activo_total: '32,459',
    //-         captacion: '20,136',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Junio',
    //-         sofipos_autorizadas_en_operacion: '44',
    //-         numero_de_clientes: '3,681,372',
    //-         numero_de_sucursales: '1,139',
    //-         activo_total: '31,080',
    //-         captacion: '19,472',
    //-         municipios_atendidos: '1,629',
    //-     },
    //- ]

    //- const INDICATORS_2019 = [
    //-     {
    //-         mes: 'Diciembre',
    //-         sofipos_autorizadas_en_operacion: '39',
    //-         numero_de_clientes: '4,875,823',
    //-         numero_de_sucursales: '1,206',
    //-         activo_total: '31,011',
    //-         captacion: '19,495',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Septiembre',
    //-         sofipos_autorizadas_en_operacion: '39',
    //-         numero_de_clientes: '4,389,096',
    //-         numero_de_sucursales: '1,087',
    //-         activo_total: '31,100',
    //-         captacion: '19,451',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Junio',
    //-         sofipos_autorizadas_en_operacion: '39',
    //-         numero_de_clientes: '4,322,888',
    //-         numero_de_sucursales: '1,141',
    //-         activo_total: '31,410',
    //-         captacion: '19,807',
    //-         municipios_atendidos: '1,629',
    //-     },
    //-     {
    //-         mes: 'Marzo',
    //-         sofipos_autorizadas_en_operacion: '39',
    //-         numero_de_clientes: '4,236,601',
    //-         numero_de_sucursales: '1,136',
    //-         activo_total: '3,186',
    //-         captacion: '20,266',
    //-         municipios_atendidos: '1,629',
    //-     },
    //- ]

    var INDICATORS_2020 = [
        {
            month: 'marzo',
            indicators: [
                {
                    label: 'Número de clientes',
                    number: '4946365',
                    icon: 'indicadores-numero-clientes.svg',
                },
                {
                    label: 'Municipios atendidos',
                    number: '1629',
                    icon: 'indicadores-municipios-atendidos.svg',
                },
                {
                    label: 'Captación',
                    number: '20451',
                    icon: 'indicadores-captacion.svg',
                },
                {
                    label: 'Activo total',
                    number: '31009',
                    icon: 'indicadores-activo-total.svg',
                },
                {
                    label: 'Número de sucursales',
                    number: '1223',
                    icon: 'indicadores-numero-sucursales.svg',
                },
                {
                    label: 'En operación',
                    number: '39',
                    icon: 'indicadores-autorizadas-en-operacion.svg',
                },
            ],
        },
    ]