-
    const BOLETINES = [
        {
            titulo: 'SOFIPOS apoyan a sus clientes, a través de medidas especiales por la contingencia',
            fecha: '24 de abril, 2020',
            href: 'AMSOFIPO-boletin-COVID19.pdf',
        },
        {
            titulo: 'SOFIPOS otorgan créditos por vía digital para apoyar a pequeños comerciantes afectados por la contingencia de COVID-19',
            fecha: '2 de abril, 2020',
            href: 'AMSOFIPO-Boletin-SOFIPOS-otorgan-creditos-por-contingencia.pdf',
        },
        {
            titulo: 'Fideicomiso "Fuerza México"',
            fecha: 'Septiembre 2017',
            href: '210917_Comunicado_No._185.pdf',
        },
        {
            titulo: 'Estructura de Financiamiento Bursátil para SOFIPOS',
            fecha: 'Agosto 2016',
            href: 'Estructura_de_Financiamiento_Bursatil_SOFIPOs2207.pdf',
        },
        {
            titulo: 'Programas de apoyo BANSEFI',
            fecha: 'Julio 2016',
            href: 'Programa_ATYC_2016.pdf',
        },
        {
            titulo: 'Reporte de Inclusión Financiero 2015',
            fecha: 'Abril 2016',
            href: 'Reporte_Inclusion_Financiera7_2015.pdf',
        },
        {
            titulo: 'Resolución que modifica las disposiciones de carácter general aplicables a las entidades de ahorro y crédito popular, organismos de integración, sociedades financieras comunitarias y organismos de integración financiera rural, a que se refiere la ley de ahorro y crédito popular',
            fecha: 'Abril 2016',
            href: 'AMSOFIPO_NL_Anexo.jpg',
        },
        {
            titulo: 'Boletín Regulatorio, Registro de Comisiones (RECO)',
            fecha: 'Agosto 2015',
            href: 'Boletin_regulatorio_RECO.pdf',
        },
        {
            titulo: 'Boletín Regulatorio, Modificación de la Circular Única de SOFIPOS',
            fecha: 'Enero 2015',
            href: 'Boletin_DCGEACP_12_Ene_15.pdf',
        },
        {
            titulo: 'Informe de Gestión, Consejo Directivo 2014',
            fecha: 'Diciembre 2014',
            href: 'Informe_gestion_2014.pdf',
        },
        {
            titulo: 'Boletín Regulatorio, Buró de Entidades Financieras',
            fecha: 'Octubre 2014',
            href: 'boletin_regulatorio_buro_de_entidades_financieras.pdf',
        },
        {
            titulo: 'Boletín Regulatorio, Programas de Autocorrección y UNE',
            fecha: 'Octubre 2014',
            href: 'Boletin_Regulatorio_octubre.pdf',
        },
        {
            titulo: 'Boletín Fiscal, Temas de Impacto para las Sofipos',
            fecha: 'Julio 2014',
            href: 'boletin_fiscal_julio_2014.pdf',
        },
        {
            titulo: 'Boletín Regulatorio, Funcionamiento del Buró de Entidades Financieras',
            fecha: 'Julio 2014',
            href: 'boletin_fiscal_funcionamiento_julio_2014.pdf',
        },
    ]