-
    const FORM = {
        input: [
            {
                label: 'NOMBRE (requerido)',
                placeholder: 'Ingresa tu nombre completo',
                type: 'text',
            },
            {
                label: 'E-MAIL (requerido)',
                placeholder: 'Ingresa tu e-mail',
                type: 'email',
            },
            {
                label: 'TELÉFONO',
                placeholder: 'Ingresa tu e-mail',
                type: 'email',
            },
            {
                label: 'CUIDAD',
                placeholder: 'Ingresa tu ciudad',
                type: 'text',
            },
            {
                label: 'EMPRESA O INSTITUCIÓN',
                placeholder: 'Ingresa el nombre de tu empresa o institución',
                type: 'text',
                tag: 'input',
            },
        ],
        textarea: [
                {
                label: 'COMENTARIO',
                placeholder: 'Ingresa tu mensaje',
            },
        ],
        submit: [
            {
                cta: 'ENVIAR',
                type: 'submit',
            },
        ]
    }