-

    const INDICADORES_2015 = [
        {
            mes: 'Octubre',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3175594',
            numero_de_sucursales: '1051',
            activo_total: '24707',
            captacion: '17787',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Marzo',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3057140',
            numero_de_sucursales: '1043',
            activo_total: '24345',
            captacion: '17450',
            municipios_atendidos: '1629',
        },
    ]

    const INDICADORES_2016 = [
        {
            mes: 'Diciembre',
            sofipos_autorizadas_en_operacion: '43',
            numero_de_clientes: '3558971',
            numero_de_sucursales: '1206',
            activo_total: '31283',
            captacion: '20233',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Septiembre',
            sofipos_autorizadas_en_operacion: '43',
            numero_de_clientes: '3493998',
            numero_de_sucursales: '1103',
            activo_total: '29992',
            captacion: '19937',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Junio',
            sofipos_autorizadas_en_operacion: '45',
            numero_de_clientes: '3475437',
            numero_de_sucursales: '1103',
            activo_total: '28062',
            captacion: '19617',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Marzo',
            sofipos_autorizadas_en_operacion: '45',
            numero_de_clientes: '3423472',
            numero_de_sucursales: '1099',
            activo_total: '27204',
            captacion: '19003',
            municipios_atendidos: '1629',
        },
    ]

    const INDICADORES_2017 = [
        {
            mes: 'Septiembre',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3842849',
            numero_de_sucursales: '1183',
            activo_total: '32797',
            captacion: '20573',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Junio',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3764887',
            numero_de_sucursales: '1160',
            activo_total: '31603',
            captacion: '19872',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Marzo',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3576562',
            numero_de_sucursales: '1158',
            activo_total: '30202',
            captacion: '19411',
            municipios_atendidos: '1629',
        },
    ]

    const INDICADORES_2018 = [
        {
            mes: 'Diciembre',
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '3899662',
            numero_de_sucursales: '1165',
            activo_total: '32035',
            captacion: '19729',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Septiembre',
            sofipos_autorizadas_en_operacion: '40',
            numero_de_clientes: '3861866',
            numero_de_sucursales: '1204',
            activo_total: '32459',
            captacion: '20136',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Junio',
            sofipos_autorizadas_en_operacion: '44',
            numero_de_clientes: '3681372',
            numero_de_sucursales: '1139',
            activo_total: '31080',
            captacion: '19472',
            municipios_atendidos: '1629',
        },
    ]

    const INDICADORES_2019 = [
        {
            mes: 'Diciembre',
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4875823',
            numero_de_sucursales: '1206',
            activo_total: '31011',
            captacion: '19495',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Septiembre',
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4389096',
            numero_de_sucursales: '1087',
            activo_total: '31100',
            captacion: '19451',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Junio',
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4322888',
            numero_de_sucursales: '1141',
            activo_total: '31410',
            captacion: '19807',
            municipios_atendidos: '1629',
        },
        {
            mes: 'Marzo',
            sofipos_autorizadas_en_operacion: '39',
            numero_de_clientes: '4236601',
            numero_de_sucursales: '1136',
            activo_total: '3186',
            captacion: '20266',
            municipios_atendidos: '1629',
        },
    ]

    var INDICADORES__DICIEMBRE__2019 = [
        {
            indicador: 'Numero de clientes',
            cifra: '4,875,823',
            icon: 'icon-people-alt.svg',
        },  
        {
            indicador: 'Municipios atendidos',
            cifra: '1,629',
            icon: 'icon-pin-alt.svg',
        },
        {
            indicador: 'Captacion',
            cifra: '19,495',
            icon: 'icon-give-money-alt.svg',
        },
        {
            indicador: 'Activo total',
            cifra: '31,011',
            icon: 'icon-coin-stack-alt.svg',
        },
        {
            indicador: 'Numero de sucursales',
            cifra: '1,206',
            icon: 'icon-supermarket-alt.svg',
        },
        {
            indicador: 'En operacion',
            cifra: '39',
            icon: 'icon-radio-check-alt.svg',
        },
    ]