-
    const FOOTER_CONTACTO = {
        direccion: 'Av. Insurgentes Sur #2047<br>Esq. Cracovia Edificio “B”,<br>Colonia San Ángel,<br>Alcaldía Álvaro Obregón<br>C.P. 01000, CDMX',
        email: 'contacto@amsofipo.mx',
        telefono: '55 5001 4851',
    }

-
    const FOOTER_SOCIALS = [
            {
                icon: 'icon-linkedin.svg',
                alt: 'linkedin',
                href: 'https://mx.linkedin.com/company/amsofipo',
            },
            {
                icon: 'icon-facebook.svg',
                alt: 'facebook',
                href: 'https://www.facebook.com/Amsofipo/',
            },
            {
                icon: 'icon-twitter.svg',
                alt: 'twitter',
                href: 'https://twitter.com/amsofipo',
            },
        ]

-
    const FOOTER_SITIOSINTERES = [
        {
            name: 'shcp',
            url: 'http://www.shcp.gob.mx/',
        },
        {
            name: 'cnbv',
            url: 'https://www.cnbv.gob.mx/',
        },
        {
            name: 'condusef',
            url: 'https://www.condusef.gob.mx/',
        },
        {
            name: 'banxico',
            url: 'https://www.banxico.org.mx/',
        },
        {
            name: 'fira',
            url: 'https://www.fira.gob.mx/',
        },
    ]