.beneficio-clientes {

    &__wrap {

        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        gap: var(--lg);

        @media only screen and (min-width: 568px) {

            grid-template-columns: repeat(2, 1fr);

        }
        
        @media only screen and (min-width: 1024px) {

            grid-template-columns: repeat(3, 1fr);

        }

    }

    &__card {

        display: flex;
        align-items: center;

        border-radius: var(--ss);
        box-shadow: 0 0 0.2rem rgba(0,0,0,0.2);    
        overflow: hidden;
        padding: var(--sm) var(--md);

        border: 0.1rem solid var(--white);
    
    }

    &__caption {
        text-align: center;
        font-family: 'Prompt';
        color: var(--white);
        font-size: var(--sm);
    }

}