.beneficios {

    li {
        border: 0.1rem solid var(--first);
        border-radius: var(--ss);
        padding: var(--sm);
        margin-bottom: var(--md);
    }

    p {
        padding-left: var(--md);
        position: relative;
    }

    p::before {
        content: "\2714";
        position: absolute;
        left: 0;
    }
}