.button {

    cursor: pointer;
    display: block;

    background-color: var(--second);
    border: 0.1rem solid var(--second);
    border-radius: 3.2em;

    color: var(--seventh);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    padding: 0.6em 0.8em;

}