.button {
    display: inline-flex;
    background-color: var(--first-dark);
    border: toRem(1px) solid var(--first-dark);
    border-radius: calc(var(--su-4));
    color: var(--text-alt);
    font-size: var(--caption);
    font-weight: var(--light);
    line-height: 1;
    padding: var(--su-16) var(--su-32);
    
    &--ghost {
        background-color: transparent;
        color: var(--first-dark);
    }
}