.button {
    display: inline-flex;
    color: var(--text-alt);
    font-size: var(--caption);
    font-weight: var(--medium);
    border-radius: calc(var(--su-8) / 2);
    background-color: var(--first-dark);
    padding: var(--su-8) var(--su-32);
    
    &--info {
        background-color: var(--second);
    }
}