.carousel {

    background-color: #40D9CF;
    position: relative;

    height: 52rem;

    text-align: center;

    img {

        height: auto;
        max-width: 100%;

        height: inherit;
    
    }
}