.featured {
    text-align: center;
    padding-top: var(--xx);

    @media only screen and (min-width: 768px) { 
        grid-template-columns: repeat(12, 1fr);
        text-align: left;
    }

    &__child {
        position: relative;

        @media only screen and (min-width: 768px) {
            
            &:first-child {
                grid-column-start: 2;
                grid-column-end: 7;

                img {
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            
            &:last-child {
                grid-column-start: 7;
                grid-column-end: 12;
                padding-top: var(--xl);
                padding-bottom: var(--xl);
            }
        }
    }

    &--right {

        .featured__child {

            @media only screen and (min-width: 768px) {
                
                &:first-child {
                    padding-top: var(--xl);
                    padding-bottom: var(--xl);
                }

                &:last-child {
                    padding-top: 0;
                    padding-bottom: 0;

                    img {
                        object-fit: cover;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}