.footer {
    
    * { 
        color: var(--first-light); 
    }
    
    @extend .container;
    background-color: var(--first-dark);
    padding-top: var(--su-40);
    padding-bottom: var(--su-40);

    &__content {
        @extend .subcontainer;
        @extend .subcontainer--lg;
        display: grid;
        gap: var(--su-32);
        grid-template: repeat(2, auto) / repeat(4, 1fr);
        grid-template-areas: 'home home socials socials'
                             'legal visit-us contact interest';
    }

    &__home {
        grid-area: home;
    }

    &__logo {
        mix-blend-mode: screen;
    }
    
    &__socials {
        grid-area: socials;
        display: grid;
    }
    
    &__contact {
        grid-area: contact;
    }
    
    &__visit-us {
        grid-area: visit-us;
    }
    
    &__interest {
        grid-area: interest;
    }
    
    &__legal {
        grid-area: legal;
    }

    &__info {
        @extend .subcontainer;
        @extend .subcontainer--lg;
        border-top: toRem(1px) solid var(--first);
        margin-top: var(--su-40);
        padding-top: var(--su-16);
    }

    &__label {
        font-size: var(--small);
        font-weight: var(--regular);
    }

    &__text {
        font-size: var(--body);
        font-weight: var(--elight);
    }
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
        margin-left: var(--su-32);
    }
}

.write-us {
    margin-bottom: var(--su-32);
}

.legal {

    .footer__text {
        font-weight: var(--regular);
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__label {
        order: 1;
        font-weight: var(--elight);
    }
}