.footer {

    &__row {
        background-color: var(--text);
    }

    &__wrap {

        &:first-child {
            
            margin-bottom: var(--xl);

            @media screen and (min-width: 568px) {
                text-align: center;
            }
            
        }

        &:nth-child(2) {

            display: flex;
            flex-direction: column;
            
            @media only screen and (min-width: 568px) {
                
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
                grid-template-rows: auto;
                column-gap: var(--xl);
                
            }

        }

        &:last-child {

            border-top: 0.1rem solid var(--white);
            font-family: 'Montserrat';

            padding-top: var(--sm);

            @media only screen and (min-width: 568px) {
                display: flex;
                justify-content: space-between;
            }

            p, a {
                color: var(--white);
                font-size: var(--smaller);
            }

            ul {
                display: inline-flex;
            }

            li::after {

                content: "|";
                
                color: var(--white);
                font-size: var(--smaller);

                margin-right: var(--xs);
                margin-left: var(--xs);

            }

            li:last-child::after {
                
                content: "";
                
                margin-right: 0;
                margin-left: 0;

            }

        }

    }

    &__box * {

        // background-color: teal;
        
        color: var(--white);
        font-family: 'Montserrat';
        font-size: var(--small);

        h3 {
            font-weight: 600;
            margin-bottom: var(--ss);
        }

        p, a {
            font-weight: var(--light);
        }
    
    }

    &__box {
        margin-bottom: var(--sm);
    }

    &__box:last-child {

        margin-bottom: var(--lg);

        
        h3 {
            font-weight: 600;
            margin-bottom: var(--ss);
        }

    }

    &__box:nth-child(2) {

        div {
            margin-bottom: var(--md);
        }
    }

    &__socials {
        
        li {

            display: flex;
            align-items: center;
            
            margin-bottom: var(--sm);
        }

        a {
            text-transform: capitalize;
            padding-left: var(--xs);
        }
    
    }

    &__sitios-interes {

        li {

            display: flex;
            
            margin-bottom: var(--ss);

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
    
            position: relative;

            &::before {

                content: "\276F";
                padding-right: var(--xs);
        
            }
        }
    
    }

}