.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--md);

    @media only screen and (min-width: 667px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__child {
        position: relative;
        margin-top: 0.8rem;

        @media only screen and (min-width: 667px) {

            &:first-child,
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(6),
            &:last-child {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            
            &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            
            &:last-child {
                margin-top: 0;
            }
        }
    }

    &__label {
        @extend .heading;
        @extend .bold;
        @extend .normal--alt;
        @extend .first;
        background-color: #fff;
        display: block;
        padding-left: var(--ss);
        padding-right: var(--ss);
        position: absolute;
        top: 0;
        left: var(--md);
        transform: translateY(-50%);
    }

    &__input {
        background-color: transparent;
        border-color: var(--first);
        border-style: solid;
        border-radius: var(--lg);
        border-width: 0.1rem;
        padding: var(--small) var(--md);
        width: 100%;
    }

    &__txtarea {
        height: var(--xx);
    }

    &__submit {
        cursor: pointer;
        background-color: var(--first);
        color: #fff;
        text-transform: capitalize;
    }

    &__input:focus,
    &__textarea:focus {
        color: var(--text);
        background-color: var(--white);
        outline: none;
        transition: 0.3s ease-in;
    }
    
    &__input::placeholder,
    &__textarea::placeholder {
        
    }
}