.formulario {

    &__box {
        margin-bottom: var(--md);

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__label {
        margin-bottom: var(--xs);
    }

    &__input,
    &__submit {
        @extend %button;
    }

    &__input {
        @extend %button;
        border-color: currentColor;
    }

    &__textarea {
        height: 16rem;
    }

    &__submit {
        cursor: pointer;    
        background-color: var(--white);
        color: var(--first);
        text-transform: capitalize;
    }

}

.formulario-contacto {

    @media only screen and (min-width: 568px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: var(--md);
    }

    @media only screen and (min-width: 1024px) {
        max-width: 50%;
        margin-left: auto;
    }

    .formulario__box {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;

        &:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        
        &:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 3;
        }

    }
    
}