.header {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    @extend .__grid;

    &__child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media only screen and (min-width: 1024px) {
            grid-column-start: 2;        
            grid-column-end: 12;        
        }
    }
}