.header {
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    align-items: center;
    
    &__child {

        @media only screen and (min-width: 1280px) {
            
            &:first-child {
                grid-column-start: 2;
                grid-column-end: 4;
            }
            
            &:last-child {
                grid-column-start: 4;
                grid-column-end: 12;
                justify-self: end;
            }
        }
    }

    &__logo {

    }
}