.header {
    

    position: relative;

    @media only screen and (min-width: 768px) {

        height: 70vh;

    }

    &__box {

        max-width: 102.4rem;

        @media only screen and (min-width: 768px) {

            margin: auto;
            position: absolute;
            left: 1.6rem;
            right: 1.6rem;
            top: 50%;
            
            transform: translateY(-50%);

        }

    }

    &__background {

        display: block;
        max-width: 100%;

        @media only screen and (min-width: 768px) {

            object-fit: cover;

            position: absolute;

            width: 100%;
            height: 100%;

        }
    
    }
    
    &__jumbotron {

        background-color: var(--second-alt);
        padding: 3.2rem 1.6rem;

        @media only screen and (min-width: 768px) {


            border-radius: 0.4rem;
            padding: 3.2rem;
            max-width: 70%;

        }
        
        @media only screen and (min-width: 1024px) {
            
            max-width: 60%;
            
        }
    
    }
    
    &__fancy {
        
        border-left-color: var(--seventh);
        border-left-style: solid;
        border-left-width: 0.2rem;

        margin-bottom: 2.4rem;
        padding-left: 1.6rem;
    
    }

    &__title,
    &__subtitle,
    &__text {

        color: var(--seventh);
    
    }
    
    &__title {

        font-family: 'Montserrat', sans-serif;
        font-size: 3.2rem;
        font-weight: 600; // semibold
        line-height: 1;
        text-transform: uppercase;

        margin-bottom: 0.4rem;

        @media only screen and (min-width: 1024px) {

            font-size: 4rem;

        }

    }

    &__subtitle,
    &__text {

        font-family: 'Prompt', sans-serif;
    
    }
    
    &__subtitle {

        font-size: 1.6rem;
        font-weight: 400; // regular
        line-height: 1;

        @media only screen and (min-width: 1024px) {

            font-size: 1.8rem;

        }

    }
    
    &__text {
        font-size: 1.4rem;
        font-weight: 300; // light
    }

}