.header-caption {
    margin-bottom: var(--xl);

    &__description {   
        @extend %subtitle;
        text-align: center;

        strong {
            @extend %subtitle;
            font-weight: 500;
        }
    }

}