.home-mosaicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'productos educa educa'
                         'productos casos finanzas';
    gap: var(--su-27);
    color: var(--text-alt);
    height: toRem(580px);

    &__child {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__hero-image {
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &__wrap {
        padding: var(--su-27);

        &::before {
            content: '';
            background-image: linear-gradient(#FFF, #007F6E);
            mix-blend-mode: multiply;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }

    &__title {
        font-size: var(--subtitle);
        font-weight: var(--sbold);
        line-height: var(--lh-subtitle);
        margin-bottom: var(--su-17);
    }

    &__caption {
        font-size: var(--caption);
        font-weight: var(--elight);
        line-height: var(--lh-caption);
    }
}

.productos {
    grid-area: productos;
}

.educa {
    grid-area: educa;
}

.casos {
    grid-area: casos;
}

.finanzas {
    grid-area: finanzas;
}