.hamburguer {

    cursor: pointer;
    display: block;
    width: var(--lg);
    height: var(--md);

    @media only screen and (min-width: 1024px) {
        display: none;
    }

    &__line {

        display: block;
        
        background-color: var(--first);
        border-radius: var(--lg);
        
        width: 100%;
        height: var(--ss);
    
    }

    &__line:nth-child(2) {

        --margin: 0.4rem;
        
        margin-top: var(--margin);
        margin-bottom: var(--margin);

        transition: margin 0.2s ease;

    }

    &:hover &__line:nth-child(2) {
        
        --margin: 0.2rem;
        
        margin-top: var(--margin);
        margin-bottom: var(--margin);
   
    }

}