.indicadores {
    color: var(--white);
    padding: var(--md);
    border-right: 0.1rem solid white;
    border-bottom: 0.1rem solid white;

    &__wrap {
        // display: grid;
        display: none;
        grid-template-columns: repeat(3,1fr);
        border-left: 0.1rem solid white;
        border-top: 0.1rem solid white;
        max-width: 102.4rem;
    }

    &__box {

        &:first-child {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        &:last-child {
            text-align: center;
        }
    }

    &__title, 
    &__quantity {
        font-size: var(--md);
    }

    &__title {
        font-size: var(--md);
        font-weight: var(--light);
        margin-bottom: var(--sm);
    }

    &__icon {
        margin-right: var(--xs);
        height: 2.4rem;
    }

    &__month {
        font-size: var(--sm);
        font-weight: var(--light);
        text-transform: capitalize;
    }

    &__quantity {
        font-size: var(--md);
        line-height: 1;
        margin-bottom: var(--xs);

        &:last-child {
            margin-bottom: 0;
        }
    }
}