.indicadores {
    color: var(--text--alt);
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--md);
    // overflow-x: scroll;

    &__item {
        background-color: var(--second);
        border-radius: var(--ss);
        padding: var(--md);
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--md);
        
        &:first-child {
            display: initial;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__child {

        &:first-child {
            flex: 4rem;
        }
        
        &:last-child {
            flex: 100;
        }
    }

    &__description {
        padding-left: var(--sm);
    }

    &__icon {
        margin-right: auto;
        margin-left: auto;
        width: var(--xx);
    }
}

.years {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: var(--md);
}

.tablink {
    border: none;
    border-radius: var(--ss);
    background-color: #278b81;
    padding-top: var(--xs);
    padding-bottom: var(--xs);

    &:hover {
        opacity: 0.8;
    }
}

.tabcontent {
    display: none;
}

#2019,
#2018,
#2017,
#2016,
#2015 {
    background-color: var(--second);
}