.jumbotron {
    @extend .container;
    background-color: var(--first-light);
    display: flex;
    padding-top: var(--su-16);
    padding-bottom: var(--su-16);
    position: relative;
    // height: toRem(554px);
    overflow: hidden;
    
    &__caption {
        border: toRem(2px) solid var(--first);
        border-radius: var(--su-8);
        text-align: center;
        margin: auto;
        // padding: var(--su-32) toRem(104px);
        padding: var(--su-32);
        max-width: toRem(986px);
    }
    
    .display {
        text-shadow: 0 toRem(2px) var(--su-4) hsla(0, 0, 0, .8);
        margin-bottom: var(--su-24);
    }

    .hero-image {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}