.jumbotron {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, .2);
    height: toRem(520px);
    overflow: hidden;
    
    &__content {
        border: toRem(2px) solid var(--first);
        border-radius: var(--su-7);
        text-align: center;
        margin: auto;
        padding-top: var(--su-27);
        padding-bottom: var(--su-27);
    }
    
    &__display {
        @extend .subcontainer--md;
        color: var(--text-alt);
        font-size: var(--display);
        font-weight: var(--medium);
        line-height: (--lh-display);
        margin-bottom: var(--su-27);
        padding-right: var(--su-27);
        padding-left: var(--su-27);
    }

    .hero-image {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}