.list {

    padding-left: 1.6rem;

    &--dot {

        .list__item {
            
            font-size: 1.4rem;
            position: relative;

            &::after {

                content: "\25CF";
                
                color: var(--first);
                display: block;

                position: absolute;
                top: 0.04rem;
                left: -1.6rem;

            }
        
        }

    }

}