.menu {
    display: flex;
    
    &__item {
        margin-right: var(--lg);
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: var(--first);
        font-family: var(--title);
        font-size: var(--body-alt);
        font-weight: var(--bold);
        text-transform: uppercase;
    }
}