.menu {
    display: flex;
    justify-content: flex-end;
    
    &__item {
        cursor: pointer;
        margin-right: var(--lg);
        text-align: center;
        flex: 0;
        display: flex;
        align-items: center;

        @media only screen and (min-width: 1280px) {
            flex: initial;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: var(--first);
        font-family: var(--title);
        font-size: var(--normal--alt);
        font-weight: var(--sbold);
        text-transform: uppercase;
    }
}