.naturaleza-juridica,
.quieres-saber-mas,
.aspectos-generales {

    &__title {
        @extend %title;
        color: var(--white);
        margin-bottom: var(--md);
    }

    &__text {
        color: var(--white);
        margin-bottom: var(--sm);
    }

}

.quieres-saber-mas,
.aspectos-generales {

    li,
    a {
        color: var(--white);
    }

}

.quieres-saber-mas {

    li {
        display: flex;
        margin-bottom: var(--md);

        &::before {
            content: url('../img/icon-view.svg');
        }

        div {
            margin-left: var(--xs);
        }

    }

    &__item-title {
        color: var(--white);
        font-family: 'Prompt';
        font-size: 1.8rem;
        font-weight: normal;
    }

}

.naturaleza-juridica {

    &__text:last-child {
        margin-bottom: var(--xl);
    }

}

.aspectos-generales {
    margin-bottom: var(--xl);

    @media only screen and (min-width: 768px) {
        margin-bottom: 0;
    }

}

.sofipo-naturaleza-juridica {
    max-width: 102.4rem;

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--xl);

        &__child:last-child {
            background: url('../img/naturaleza-juridica.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
        }
    }

    .list-nj__item {
        display: flex;
        margin-bottom: var(--sm);
    }

    .list-nj__cont {
        margin-left: var(--sm);
    }

    .list-nj__item::before {
        content: url('../img/icon-download.svg');
    }
}