.notas {
    display: grid;
    // gap: var(--md);

    & * {
        color: var(--text);
        font-size: var(--sm);
        font-weight: var(--light);
    }

    &__item {
        padding: var(--md);

        &:hover {
            opacity: 0.6;
        }
    }

    &__item:nth-child(odd) {
        background-color: rgba(67, 182, 191, 0.1);
    }
    
    &__item:nth-child(even) {
        background-color: rgba(102, 255, 255, 0.1);
    }

    &__titulo {
        font-family: var(--upper);
        font-size: 2rem;
        font-weight: var(--bold);
        text-transform: uppercase;
        margin-bottom: var(--ss);
    }

    &__autor,
    &__medio,
    &__fecha {
        line-height: 1;
    }

    &__autor {

    }

    &__medio {

    }

    &__fecha {

    }
}