.pin {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        opacity: 0.6;
    }

    &__wrap {
        text-align: center;

        @media only screen and (min-width: 568px) {
            display: inline-flex;
            text-align: left;
            max-width: 44.8rem;
        }
    
    }

    &__icon {
        margin-bottom: var(--sm);
        
        @media only screen and (min-width: 568px) {
            margin-bottom: 0;
            margin-right: var(--sm);
        }
    
    }

    &__text {

        @media only screen and (min-width: 568px) {
            align-self: center;
        }

    }

}