.portafolio-productos {

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 667px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            column-gap: var(--xx);
            row-gap: var(--xl);
            flex-direction: initial;
            justify-content: initial;
            align-items: initial;
            max-width: 76.8rem;
            margin-right: auto;
            margin-left: auto;
        }
    
    }

    &__producto {
        display: flex;
        margin-bottom: var(--xl);

        &:last-child {
            margin-bottom: 0;
        }

        @media only screen and (min-width: 667px) {
            margin-bottom: 0;
        }

    }

    &__box {

        &:first-child {
            text-align: center;
            width: 10.4rem;
        }

        &:last-child {
            max-width: 24rem;
        }

    }

    &__icon {
        margin-bottom: var(--xs);
    }

    &__nombre {
        font-family: var(--title);
        font-size: 1.8rem;
        color: var(--first);
    }

    ul {
        margin-left: var(--md);
    }

    li {
        padding-left: var(--sm);
        position: relative;

        &::before {
            content: "\25CF";
            font-size: 1rem;
            color: var(--first);
            position: absolute;
            top: 0.3rem;
            left: 0;
        }
        
    }

}