.prensa {
    padding-top: var(--xx);
    padding-bottom: var(--xx);
    @extend .__grid;

    &__child {
        grid-column-start: 2;
        grid-column-end: 12;

        &:first-child{
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        &:nth-child(2) {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        &:last-child {
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}

.notas-prensa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--md);
}