.productos {
    margin-right: auto;
    margin-left: auto;
    @extend .__grid;
    
    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);

    }
    
    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);

    }

    &__item {
        background-color: var(--second);
        border-radius: var(--ss);
        padding: var(--md);
    }

    &__icon {
        margin-bottom: var(--md);
        height: 8rem;
        display: flex;

        img {
            margin: auto;
        }
    }

    &__list {
        text-align: left;
        padding-left: var(--sm);
        flex: 60;
        
        li {
            padding-left: var(--sm);
            position: relative;
        }

        li::before {
            content: "\25CF";
            position: absolute;
            left: 0;
        }
    }
}