.section {

    &__title {
        color: var(--text);
        font-size: var(--title);
        font-weight: var(--sbold);
        line-height: var(--lh-title);
        margin-bottom: var(--su-27);
    }

    &__text {
        color: var(--text-light);
        font-size: var(--subtitle);
        font-weight: var(--elight);
        line-height: var(--lh-subtitle);
        margin-bottom: var(--su-17);
    }
}