.section-heading {
    
    .title {
        color: var(--text-dark);
        margin-bottom: var(--su-text-44);
    }

    &--with-subtitle {
        text-align: center;

        .title {
            margin-bottom: var(--su-text-17);
        }

        .subtitle {
            margin-bottom: var(--su-text-44);
        }
    }
}