.socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--su-16);

    &__item {

    }

    &__link {

    }
    
    &__icon {
        width: var(--su-24);
    }
}