.videos {

    // background-color: red;

    &__wrap {

        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        gap: var(--lg);

        @media only screen and (min-width: 568px) {

            grid-template-columns: repeat(2, 1fr);

        }
        
        @media only screen and (min-width: 1024px) {

            grid-template-columns: repeat(3, 1fr);

        }

    }

    &__card {

        background-color: var(--white);
        border-radius: var(--ss);
        box-shadow: 0 0 0.2rem rgba(0,0,0,0.2);    
        overflow: hidden;
    
    }

    &__thumbnail {
        display: block;
        max-width: 100%;
    }

    &__description {
        padding: var(--sm) var(--md);
    }

    &__title,
    &__caption {
        font-family: 'Prompt';
        color: var(--second);
    }

    &__title {
        font-size: var(--normal);
    }

    &__caption {
        font-size: 1.2rem;
    }

    &__youtube {

        text-align: center;

        @media only screen and (min-width: 568px) {

            grid-column-start: 1;
            grid-column-end: 3;

        }
        
        @media only screen and (min-width: 1024px) {

            grid-column-start: 2;
            grid-column-end: 4;

            align-self: center;

        }
        
        h2 {
            color: var(--white);
            font-family: 'Raleway';
            font-size: var(--lg);
            font-weight: 500;

            margin-bottom: var(--md);
        }

    }

}