.home-indicadores {
    padding-top: var(--xx);
    padding-bottom: var(--xx);
    text-align: center;
    @extend .__grid;

    @media only screen and (min-width: 1024px) {
        text-align: left;
    }

    &__child {

        &:nth-child(2) {
            margin-right: auto;
            margin-left: auto;
        }

        @media only screen and (min-width: 1024px) {

            &:first-child {
                grid-column-start: 2;
                grid-column-end: 12;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 8;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            &:last-child {
                grid-column-start: 8;
                grid-column-end: 12;
                grid-row-start: 2;
                grid-row-end: 3;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        @media only screen and (min-width: 1280px) { 

            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 7;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            
            &:last-child {
                grid-column-start: 7;
                grid-column-end: 12;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
    }

    &__card {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--md);
        text-align: center;

        @media only screen and (min-width: 568px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        background-color: var(--second);
        border-radius: var(--xs);
        padding: var(--md);
    }

    &__icon {
        margin-right: auto;
        margin-left: auto;
    }
}

.bg-home-indicadores {
    background-color: var(--bg);
}