include ../config/conf-variables

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AMSOFIPO
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Prompt:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap", rel="stylesheet")
        link(href="../css/styles.css?=08062020:1223", rel="stylesheet")
    body

        include ../components/header

        block carousel

        //- ok
        block jumbo

        //- ok
        block sections

        //- ok
        include ../components/footer

    script(src="../js/menu.js")