include ../config/conf_variables
include ../mixins/mix_jumbotron
include ../mixins/mix_section

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AMSOFIPO
        link(href="https://fonts.gstatic.com" rel="preconnect")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet")
        link(href="css/styles.css", rel="stylesheet")
    body

        include ../components/header
        block main

        //- ok
        include ../components/footer

    //- script(src="../js/menu.js")