<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AMSOFIPO
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap", rel="stylesheet")
        link(href="../css/styles.css?=v2", rel="stylesheet")
        link(href="../css/flexslider.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="../flex-slider/jquery.flexslider.js")
    body

        include ../components/header
        include ../components/amsofipo-slider

        .amsofipo__row.amsofipo__plan-trabajo
            .amsofipo__wrap

                div.amsofipo__uno
                    h1.heading.bigger.colorBodyAlt Plan de Trabajo 2019-2021
                    p.normal.body.colorBodyAlt El pasado 1 abril del 2019, se llevó a cabo la Asamblea General de Asociados, donde fue elegido como presidente del Consejo Directivo David Romero Morfin director general de Fincomún.
                
                div.amsofipo__dos

                    div
                        p.normal.body.colorBodyAlt <strong>El principio fundamental de esta gestión es:</strong>
                        p.normal.body.colorBodyAlt Fomentar la participación de todos los Asociados, con la intención de generar el cambio que deseamos.
                        p.normal.body.colorBodyAlt <strong>El plan de trabajo tiene como objetivo general</strong>
                        p.normal.body.colorBodyAlt Fortalecer al Sector  y tener una participación más importante en la Inclusión financiera del país.
                        p.normal.body.colorBodyAlt Para lo cual, se han definido 4 líneas estratégicas a cumplir:

                    div
                        .amsofipo__rombo
                            img(src="../img/amsofipo/rombo.png", class="image-responsive", alt="image")

                div.amsofipo__right
                    h1.heading.bigger.colorBodyAlt Comités Temáticos
                    p.normal.body.colorBodyAlt Para la gestión 2019-2021 AMOFIPO tendrá 6 Comités temáticos, donde podrán participar todas las sociedades afiliadas, cada comité cuenta con un coordinador nombrado por el Consejo Directivo

        div
            img(src="../img/amsofipo/fig-01.jpg", class="image-responsive", alt="image")

        .amsofipo__section
            div
                img(src="../img/amsofipo/fig-02.jpg", class="image-responsive", alt="image")
            div
                p.normal La intención de los comités, es tener mayor impacto para las SOFIPOS en diferentes temas de relevancia para la operación y las actividades de las Sociedades. Cada comité deberá generar los siguientes entregables:
                ol.list
                    li.list--decimal Proponer agenda para la aprobación del consejo.
                    li.list--decimal Boletines mensuales de la actividad realizada, para su publicación a través de la Amsofipo.
                    li.list--decimal Informe Trimestral al Consejo.
        
        .amsofipo__row.amsofipo__heading
            p El formar parte de un Comité conlleva responsabilidades importantes a cumplir, por ello se definieron las siguientes políticas
        
        .amsofipo__comites
            .amsofipo__comites-uno
                p <strong>Políticas aplicables<br>a todos los Comités</strong>
            .amsofipo__comites-dos
                p <strong>Comité<br>Regulatorio</strong>
            .amsofipo__comites-tres
                p <strong>Comité de Inclusión Financiera y Alianzas Estratégicas</strong>

        include ../components/footer.pug
        include ../components/menu.pug

        script(src="../js/slider.js")