.eventos {

    &__last {
        background-color: #438cb4;
        padding-top: 4rem;
        padding-bottom: 4rem;
        
        p {
            color: #ffffff;
            text-align: center;
        }

        p:first-child {
            font-size: 3.2rem;

            @media only screen and (min-width: 896px) {
                font-size: 4rem;
            }
        }
        
        p:last-child {
            font-size: 6.4rem;

            @media only screen and (min-width: 896px) {
                
            }
        }
    }

}