.inclusion-financiera {

    &__bg {
        background-image: url('../img/inclusion-financiera/fig-03.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__uno {
        text-align: center;
        img {
            margin: auto;
        }
    }

    &__ultima {

        text-align: center;

        @media only screen and (min-width: 667px) {
            display: flex;
        }

        img {
            width: 24rem;
        }
    }

    &__ultima-uno,
    &__ultima-dos {
        width: 50%;
    }

    &__ultima-uno {
        background-color: #66cccc;
    }

    &__ultima-dos {
        background-color: #00c8ac;
    }

    &__penultima {

        text-align: center;
        padding: 4rem 1.6rem;

        img {
            max-width: 100%;
        }
        
        h1,
        p {
            color: #606060;
            font-size: 4rem;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__antepenultima {
        background-color: var(--colorFirst);
        color: #ffffff;
        padding: 4rem 1.6rem;
        text-align: center;

        h1,
        h2,
        p {
            text-transform: uppercase;
            font-size: 4rem;
            margin-bottom: 1.6rem;
        }
    }

    &__imagenes {
        display: flex;
      
        div {
            width: 50%;

            @media only screen and (min-width: 568px) {
                width: 33.33%;
            }

            img {
                max-width: 100%;
            }
        }
    }

}