.container {
    padding-right: var(--su-16);
    padding-left: var(--su-16);

    @media only screen and (min-width: 768px) {
        padding-right: var(--su-32);
        padding-left: var(--su-32);
    }
}

.container--padding {
    padding-top: var(--su-64);
    padding-bottom: var(--su-64);
}

.subcontainer {
    margin-right: auto;
    margin-left: auto;
    
    &--lg {
        max-width: toRem(1280px);
    }
    
    &--md {
        max-width: toRem(1024px);
    }
    
    &--sm {
        max-width: toRem(880px);
    }
}