$separation: (
    xx: 16rem,
    xl: 4rem,
    lg: 3.2rem,
    md: 2.4rem,
    sm: 1.6rem,
    xs: 0.8rem,
    ss: 0.4rem
);

:root {
    @each $key, $val in $separation {
        --#{$key}: #{$val};
    }
}

@each $key, $val in $separation {
    
    .mtop--#{$key} {
        margin-top: #{$val};
    }
    
    .mright--#{$key} {
        margin-right: #{$val};
    }
    
    .mbottom--#{$key} {
        margin-bottom: #{$val};
    }
    
    .mleft--#{$key} {
        margin-left: #{$val};
    }
    
    .ptop--#{$key} {
        margin-top: #{$val};
    }
    
    .pright--#{$key} {
        margin-right: #{$val};
    }
    
    .pbottom--#{$key} {
        margin-bottom: #{$val};
    }
    
    .pleft--#{$key} {
        margin-left: #{$val};
    }
}

.__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--md);
    padding-right: var(--sm);
    padding-left: var(--sm);
    
    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(12, 1fr);
    }
}