.wrap {
    margin-top: var(--su-64);
    margin-bottom: var(--su-64);
    
    &__inner {
        margin-right: auto;
        margin-left: auto;
    }
    
    &__inner--1280 {
        width: var(--wrap-1280);
    }
    
    &__inner--1024 {
        width: var(--wrap-1024);
    }
    
    &__inner--880 {
        width: var(--wrap-880);
    }
    
    &--alt {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--su-64);
        padding-bottom: var(--su-64);
    }
}