[class*="__row"] {
    
    padding: 8rem 1.6rem;

}

[class*="__wrap"] {

    margin: auto;
    max-width: 102.4rem;

}

[class*="__grid"] {

    display: grid;
    gap: 3.2rem;

    @media only screen and (min-width: 667px) {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

    }

    @media only screen and (min-width: 1024px) {

        grid-template-columns: repeat(3, 1fr);

    }

}