html {
    box-sizing: border-box;
}

*,
*::after, 
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-light);
    font-family: 'Poppins', sans-serif;
    font-size: var(--h5);
    font-weight: var(--light);
    line-height: var(--h5-line-height);
}

a {
    text-decoration: none;
}

ol, 
ul, 
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}