html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: var(--lh-body);
}

*,
*::after, 
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, 
ul, 
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}