$colors: (

    first: #219C8A,
    first-alt: #00C8AC,
    text: #ffffff,
    body: #353535,
    body-alt: #595858,

);

:root {

    @each $colorsName, $colorsValue in $colors {
        --#{$colorsName}: #{$colorsValue};
    }
}
        
@each $colorsName, $colorsValue in $colors {
    .color--#{$colorsName} { 
        color: var(--#{$colorsName});
    }
}