$colors: (

    first: #005850,
    first-alt: #007f6e,
    text: #ffffff,
    body: #353535,
    body-alt: #595858,

);

:root {

    @each $colorsName, $colorsValue in $colors {
        --#{$colorsName}: #{$colorsValue};
    }
}
        
@each $colorsName, $colorsValue in $colors {
    .color--#{$colorsName} { 
        color: var(--#{$colorsName});
    }
}