$fontSize: (

    bigger: xl,
    big: lg,
    medium: md,
    small: sm,
    smaller: xs

);

@each $fontSizeName, $fontSizeValue in $fontSize {
    
    .font--#{$fontSizeName} {
        font-size: var(--#{$fontSizeValue});
    }

}

.text--uppercase {
    text-transform: uppercase;
}