$fontSize: (

    biggest: xx,
    bigger: xl,
    big: lg,
    medium: md,
    small: sm,
    smaller: xs

);

@each $fontSizeName, $fontSizeValue in $fontSize {
    
    .#{$fontSizeName} {
        font-size: var(--#{$fontSizeValue});
        font-weight: normal;
    }

}

.section-title {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat' !important;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 2.4rem;
    
    &--first {
        color: var(--first);
    }

    &--seventh {
        color: var(--seventh);
    }

    &__icon {
        padding-right: 1.6rem;
        // width: 3.9rem;
    }

}

.section-text {

    font-size: 1.4rem;

}