$fontSize: (
    
    biggest: 4rem, 
    bigger: 3.2rem,
    big: 2.4rem,
    normal: 1.6rem,
    small: 1.2rem,
    smaller: 0.8rem 
);

:root {

    @each $fontSizeName, $fontSizeValue in $fontSize {
        --#{$fontSizeName}: #{$fontSizeValue};
    }

    --font-family: 'Open Sans';

}

@each $fontSizeName, $fontSizeValue in $fontSize {
    
    .#{$fontSizeName} {
        font-size: var(--#{$fontSizeName});
    }

}

.heading,
.body {
    font-family: var(--font-family);
}

.heading {
    font-weight: 800;
}

.body {
    font-weight: 400;
}