[class*="__container"] {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

[class*="__wrap--"] {
    width: 100%;
}

[class*="__wrap--lg"] {
    max-width: 136.6rem;
}

[class*="__wrap--md"] {
    max-width: 128rem;
}

[class*="__wrap--sm"] {
    max-width: 102.4rem;
}