[class*="__row"] {

    // background-color: teal;
    display: block;
    padding-left: var(--xs);
    padding-right: var(--xs);

    @media only screen and (min-width: 667px) {
        padding-left: var(--md);
        padding-right: var(--md);
    }
    
    @media only screen and (min-width: 667px) {
        padding-left: var(--xl);
        padding-right: var(--xl);
    }

}

[class*="__wrap"] {
    // background-color: tomato;
    margin: auto;
    max-width: 192rem;
}