[class*="__row"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

[class*="__wrap--"] {
    margin-right: var(--sm);
    margin-left: var(--sm);
    width: 100%;
}

[class*="__wrap--large"] {
    margin-right: 0;
    margin-left: 0;
}

[class*="__wrap--medium"] {
    max-width: 128rem;
}

[class*="__wrap--small"] {
    max-width: 102.4rem;
}