html {
    box-sizing: border-box;
    font-size: 10px;
    font-weight: normal;

    background: #3c3c3c;
}

*, *::after, *::before {
    box-sizing: inherit;
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    // outline: 1px solid yellow;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
} 

ol, ul, li {
    list-style: none;
}

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

strong, 
em {
    font-weight: 700;
}

button {
    border-style: none;
    background-color: transparent;
}