.header {

    &__icon-hamburguer {
        cursor: pointer;
        background: transparent;
        border-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: var(--xl);
        height: var(--lg);

        span {
            background-color: var(--first);
            border-radius: 0.2rem;
            height: 0.4rem;
            width: 100%;

            transition: width 0.2s ease-in;
        }
    }

    &__icon-hamburguer:hover {

        span:nth-child(2) {
            width: 75%;
        }
        
        span:last-child {
            width: 45%;
        }
    }

}