.header {

    &__wrap,
    &__box {
        display: flex;
        align-items: center;
    }

    &__wrap {

        --header-height: 8rem;

        justify-content: space-between;
        height: var(--header-height);
    
    }

    &__box {

        @media only screen and (min-width: 568px) {
            flex-grow: 1;
        }
    }

    &__box:first-child {
        justify-content: space-between;
        width: 100%;

        @media only screen and (min-width: 568px) {
            justify-content: initial;
        }
    }

    &__box:last-child {
        display: none;

        @media only screen and (min-width: 568px) {
            display: flex;
        }
    }

    &__logo {
        width: 14rem;
    }

    &__icon-menu,
    &__icon-search {
        cursor: pointer;
    }
    
    &__icon-menu {
        width: var(--xl);
    }

    &__icon-search {
        width: var(--md);
    }

    &__icon-menu {

        @media only screen and (min-width: 568px) {
            margin-right: var(--sm);
        }
    }

    &__right-menu {

        margin-left: var(--sm);
        padding: var(--xs) 0 var(--xs) var(--sm);
        border-left: 0.2rem solid #9e9e9e;
    }

}