.home-contacto {

    &__row {
        background-color: var(--colorFirst);
        padding-top: var(--xl);
        padding-bottom: var(--xl);
        text-align: center;

        @media only screen and (min-width: 568px) {
            background-image: url('../img/home/contacto.png');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover; 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        p {
            margin-bottom: var(--sm);
        }
    
    }

    &__form {

        input,
        textarea {
            border-style: none;
            border-radius: var(--xs);
            display: block;
            font-family: 'Open Sans';
            font-size: var(--normal);
            margin-bottom: var(--sm);
            padding: var(--xs) var(--sm);
            width: 100%;
        }

        textarea {
            height: 12rem;
        }

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: var(--sm);
            text-align: left;

            input {
                color: var(--colorText);
                background-color: var(--colorBody);
                margin-bottom: 0;
            }
        }

        a {
            color: var(--colorText);
            font-family: 'Open Sans';
            font-size: var(--normal);
            align-self: center;
        }
    }
}