.home-inclusion {

    &__heading {
        background-image: url('../img/home/inclusion-00.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--colorText);
        font-family: 'Open Sans';
        font-size: var(--bigger);
        padding-top: var(--xl);
        padding-bottom: var(--xl);
        text-align: center;
        text-transform: uppercase;
    }

    &__destacado {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 56rem;
    }

    &__destacado-item {
        display: flex;
        color: var(--colorText);
        font-family: 'Open Sans';
        font-size: var(--normal);
        padding: var(--md);
        
        div {
            margin-top: auto;
        }

        img {
            display: block;
            margin: 0 auto var(--md);
            width: 12rem;
        }

        h2 {
            text-transform: uppercase;
        }
    }

    &__destacado-item:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        background-image: url('../img/home/inclusion-01.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__destacado-item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        background-image: url('../img/home/inclusion-02.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__destacado-item:nth-child(3) {
        background-color: var(--colorFirstAlt);
    }

    &__destacado-item:nth-child(4) {
        background-image: url('../img/home/inclusion-04.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

  
}