.indicadores-de-inclusion {

    background-color: #9c9c9c;

    display: flex;
    
    justify-content: center;
    align-items: center;

    padding: 1.6rem;

    outline: 1px solid yellow;

    &__icon {
        margin-right: 1.6rem;
        width: 9.6rem;
    }

    &__caption {

    }

    &__title {
        font-family: 'Prompt';
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.8rem;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 1;
    }

}