.list {

    --list-padding: 0.8rem;

    counter-reset: decimal;
    font-size: var(--normal);
    list-style-type: none;

    li {
        display: flex;
        margin-bottom: var(--normal);
    }

    li:last-child {
        margin-bottom: 0;
    }

    &--decimal::before {
        counter-increment: decimal;
        content: counter(decimal);
        color: var(--colorFirst);
        font-size: var(--bigger);
        font-weight: 700;
        line-height: 1;
        padding-right: var(--list-padding);
    }

    &--rombo::before {
        content: "";
        background-color: #01584f;
        transform: rotate(45deg);
        padding-right: 0.8rem;
        margin-right: 0.8rem;
        margin-top: 0.6rem;
        height: 0.8rem;
        width: 0.8rem;
    }

    &--white::before {
        background-color: #ffffff;
    }
}