.navegacion {
    background-color: var(--colorFirst);
    padding-left: var(--sm);
    padding-right: var(--sm);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 26rem;
    z-index: 1000;

    div {
        height: 8rem;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    &__icon {
        cursor: pointer;
        width: var(--md);
    }
}

.menu {

    list-style: none;

    &__item {
        margin-bottom: var(--sm);
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link {
        color: var(--colorText);
        font-family: 'Open Sans';
        font-size: var(--normal);
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:hover {
        text-decoration: underline;
    }

}

#navegacion {
    display: none;
}

#navegacion:target {
    display: block;
}