.header {

    &__container {
        background-color: #f1f1f1;
    }

    &__wrap--small {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin: auto;
        height: 6.4rem;
    
    }
}