.portafolio-productos-list {

    display: inline-flex;

    &__box {

        &:first-child {
            
            text-align: center;
            margin-right: 2.4rem;

        }
    
    }

    &__icon {

        margin-bottom: 0.8rem;

    }

    &__title {

        color: var(--first);
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;

    }

    &__list {

        padding-left: 1.6rem;

    
    }

    &__item {

        font-size: 1.4rem;
        position: relative;

        &::after {

            content: "\2022";
            display: block;

            position: absolute;
            top: 0.12rem;
            transform: scale(2);
            left: -1.6rem;

            color: var(--first);
            line-height: 1.6rem;
        
        }
    
    }

}