.sofipos {

    &__ultima {
        color: #ffffff;

        h1 {
            font-size: 4rem;
            margin-bottom: 1.6rem;
        }

        p {
            font-size: 1.6rem;
        }

        @media only screen and (min-width: 667px) {
            display: flex;
        }
    }

    &__ultima-uno,
    &__ultima-dos {
        padding: 4rem 0.8rem;

        @media only screen and (min-width: 667px) {
            width: 50%;
        }
    }

    &__ultima-uno {
        background-color: #01584f;
        
        p {
            margin-bottom: 2.4rem;
        }
    }
    
    &__ultima-dos {
        background-image: url('../img/sofipos/fig-06.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__beneficios {
        background-image: url('../img/sofipos/fig-05.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        padding-top: 4rem;
        padding-bottom: 4rem;

        h1, p, li {
            color: #ffffff;
            font-size: 1.6rem;
        }
        h1 {
            font-size: 4rem;
            margin-bottom: 1.6rem;
        }

        p {
            margin-bottom: 1.6rem;
        }

    }

    &__seccion {
        
        h1, p {
            font-family: 'Open Sans';
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 1.6rem;
            color: #01584f;
        }

        p {
            font-size: 1.6rem;
        }
    }

    &__las-sofipos {
        background-image: url('../img/sofipos/fig-00.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__wrap {
        padding: 4rem 0;

        h1, p {
            margin-bottom: 1.6rem;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .image-responsive {
            display: block;
            margin: auto;
        }
    }
    
    &__uno,
    &__dos {
        
        @media only screen and (min-width: 667px) {
            display: flex;
        }

    }

    &__uno {

        margin-bottom: 4rem;

        @media only screen and (min-width: 667px) {
            p {
                padding-right: 4rem;
            }
        }

    }

    &__dos {
        @media only screen and (min-width: 667px) {
            text-align: right;

            p {
                padding-left: 4rem;
            }
        }
    }

    &__objetivo {
        background-image: url('../img/sofipos/fig-03.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        img {
            width: 6.4rem;
        }

        h1, p {
            font-family: 'Open Sans';
            color: #ffffff;
            text-align: center;
        }

        h1 {
            text-transform: uppercase;
            font-size: 4rem;
        }

        p {
            font-size: 1.6rem;
        }

      
        
    }

}