// colors

    @each $key, $color in $colors {
        
        .#{$key} {
            color: var(--#{$key});
        }
    }

// typography

    .display {
        font-size: var(--display); 
        font-weight: var(--bold);
    }

    .title {
        color: var(--text-dark);
        font-size: var(--title);  
        font-weight: var(--semi-bold);
    }

    .subtitle {
        font-size: var(--subtitle);
        font-weight: var(--regular);
    }

    .caption {
        font-size: var(--caption); 
        font-weight: var(--sbold);
    }

    .body {
        font-size: var(--body); 
        font-weight: var(--light);
    }

    .small {
        font-size: var(--small); 
        font-weight: var(--semi-bold);
    }