<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AMSOFIPO
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap", rel="stylesheet")
        link(href="css/styles.css?=v2", rel="stylesheet")
        link(href="css/flexslider.css", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
        script(src="flex-slider/jquery.flexslider.js")
    body

        include components/header
        //- include components/home_banner
        //- include components/home-slider
        //- include components/home-indicadores
        //- include components/home-inclusion
        //- include components/home-contacto
        //- include components/footer
        //- include components/menu

        //- script(src="js/slider.js")