$colors: (

    first: #195852,
    second: #43B6BF,
    text: #3C3C3C,

    white: #ffffff,

);

:root {

    @each $colors-key, $colors-value in $colors {
        --#{$colors-key}: #{$colors-value};
    }

}

@each $colors-key, $colors-value in $colors {
    .#{$colors-key} {
        color: #{$colors-value};
    }
}

@each $colors-key, $colors-value in $colors {
    .bg--#{$colors-key} {
        background-color: #{$colors-value};
    }
}