$colors: (
    first: #195852,
    second: #43B6BF,
    text: #383838,
    text--alt: #ffffff,
    bg: #fdf5fa,
    pink: #FF9966,
);

:root {

    @each $colors-key, $colors-value in $colors {
        --#{$colors-key}: #{$colors-value};
    }

}

@each $colors-key, $colors-value in $colors {
    .#{$colors-key} {
        color: #{$colors-value};
    }
}

@each $colors-key, $colors-value in $colors {
    .bg--#{$colors-key} {
        background-color: #{$colors-value};
    }
}