$font-size-movil: (
   display: toRem(25.63px),
   title: toRem(22.78px),
   subtitle: toRem(20.25px),
   caption: toRem(18px),
   body: toRem(16px),
   small: toRem(13.17px)
);

$font-size-desktop: (
   display: toRem(42.32px),
   title: toRem(32.65px),
   subtitle: toRem(25.19px),
   caption: toRem(20.74px)
);

$font-weight: (
    bold: 700,
    semi-bold: 600,
    medium: 500,
    regular: 400,
    light: 300,
    extra-light: 200
);