$font-size: (
   heading: toRem(39.06px),
   title: toRem(31.25px),
   subtitle: toRem(25px),
   caption: toRem(20px),
   body: toRem(16px),
   small: toRem(12.80px)
);

$font-weight: (
   black: 900,
   ebold: 800,
   bold: 700,
   sbold: 600,
   medium: 500,
   regular: 400,
   light: 300,
   elight: 200,
   thin: 100
);