include ../config/conf-asociados
ul.asociados.__grid
    each asociado in ASOCIADOS
        li.asociados__child
            a(href=`${asociado.href}`, target="_blank"): img(src=`${pathImg}${asociado.logo}`, class="asociados__logo", alt="asociado amsofipo")