ul.associates
    each associate in associates
        li.associates__item: a(href=`${associate.href}`, target="_blank"): img(src=`../img/${associate.logo}`, class="associates__logo", alt="asociado amsofipo")