.card-beneficios
    p.card-beneficios__text Acceso a microcréditos ajustados a las características de los clientes, mercado,  región geográfica y al riesgo que presentan.

.card-beneficios
    p.card-beneficios__text Fortalecer el sistema de protección de los ahorros del sector de microfinanzas y el esquema de supervisión auxiliar. Acceso a operaciones como el arrendamiento y el factoraje financiero.

.card-beneficios
    p.card-beneficios__text Asistencia técnica para elaborar planes de negocios y proyectos de comercialización.

.card-beneficios
    p.card-beneficios__text Desarrollo comunitario sobre bases formativas y del esfuerzo individual y colectivo.

.card-beneficios
    p.card-beneficios__text Acceso a servicios financieros a personas de bajos ingresos, ofreciéndoles la oportunidad de mantener de forma segura sus ahorros.

.card-beneficios
    p.card-beneficios__text Adherirse a los beneficios de una póliza de seguro de vida a bajo costo.

.card-beneficios
    p.card-beneficios__text Capacitación en el análisis de proyectos de inversión.