.sofipo__wrap.sofipo__grid

    .card-video
        .card-video__video        
        .card-video__caption
            h2.card-video__title testimonio:
            p.card-video__description Bienestar, Francisto Rabell

    .card-video
        .card-video__video        
        .card-video__caption
            h2.card-video__title testimonio:
            p.card-video__description Bienestar, Francisto Rabell

    .card-video
        .card-video__video        
        .card-video__caption
            h2.card-video__title testimonio:
            p.card-video__description Bienestar, Francisto Rabell
    
    .card-video
        .card-video__video        
        .card-video__caption
            h2.card-video__title testimonio:
            p.card-video__description Bienestar, Francisto Rabell

    .conoce-mas-historias
        h3.conoce-mas-historias__caption Conoce más historias
        img(src="img/icons/youtube.svg", class="conoce-mas-hostirias__icon", alt="youtube")