//- carousel
article.carousel
    //- slider
    ul.carousel__slider
        li.carousel__frame
            img(src="img/home/slider/home-slider-03.png", class="carousel__hero-image", alt="")
            section.carousel__content
                h1.carousel__caption Solicita tu crédito y comienza a crecer
                button(type="button", class="button__solid") Leer más
    //- pleca
    //- img(src="img/home-slider/home-slider-00.png", class="carousel__isotipo", alt="")
    //- controls
    nav.carousel__controls
        a(href="", class="carousel__prev")
        a(href="", class="carousel__next")
    //- dots
    nav.carousel__dots
        a(href="", class="carousel__dot carousel__dot--active")