ul.carousel
    li.carousel__item-alt.carousel__hidden.fade
        .carousel__box-alt
            img(src=`${pathImg}carousel-frame.png`, class="carousel__image-alt", alt="slide")
//-     li.carousel__item.carousel__hidden.fade
//-         img(src=`${pathImg}carousel-frame-1.jpg`, class="carousel__image", alt="slide")
//-         .carousel__box
//-             h1.emphasis.display--alt.regular.text--alt Solicita tu crédito y comienza a crecer
//-             a(href="amsofipo.html#nuestros-asociados", class="button--alt") Acércate

//- script(src="../js/carousel.js")