include ../config/conf-casos-exito
.casos-exito.__grid
    each casoexito in CASOS_EXITO
        .casos-exito__card
            iframe(width="100%", src=`${casoexito.url}`, frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .casos-exito__descripcion
                h3.heading.normal--alt.sbold.first.uppercase= `${casoexito.title}`
                p.body.normal.regular.text= `${casoexito.descripcion}`
    .casos-exito__card
        h2.emphasis.subtitle.light.text--alt.mbottom--md Conoce más historias
        a(href="https://www.youtube.com/channel/UCyVtKDXq15lzuYpCS3AOBUQ", target="_blank", class="button--alt") descubre más