-
    let imagePath = '../img/'

    const icons = [
        'association',
        'award',
        'insurance',
        'mission',
        'objective',
        'portfolio',
        'savings',
        'services',
        'vission',
    ]

    const footerSocials = [
        {
            name: 'linkedin',
            url: '#',
        },
        {
            name: 'facebook',
            url: '#',
        },
        {
            name: 'twitter',
            url: '#',
        },
        {
            name: 'youtube',
            url: '#',
        },
    ]

    const associates = [
        'asp',
        'finamigo',
        'fincomun',
        'libertad',
        'capital-activo',
        'resuelve-tus-finanzas',
        'sofi-express',
        'te-creemos',
        'came',
        'auxi',
    ]

    const jumbotron = [
        {
            title: 'amsofipo', 
            subtitle: 'Asociación Mexicana de Sociedades Financieras Populares',
            body: 'La Asociación Mexicana de Sociedades Financieras Populares (AMSOFIPO) fue creada a finales del 2009, como resultado del interés de un grupo de Sociedades Financieras Populares (SOFIPO) por generar sinergias tendientes a fortalecer al sector mediante adecuaciones a la regulación y mantener una sana interacción de comunicación para proponer adicionalmente programas y proyectos donde se vincule su figura.',
            desktop: 'jumbotron-amsofipo-desktop',
            tablet: 'jumbotron-amsofipo-tablet',
            movil: 'jumbotron-amsofipo-movil',
        },
        {
            title: 'sofipo', 
            subtitle: 'Sociedades Financieras Populares',
            body: 'Son entidades que ofrecen servicios de ahorro, crédito e inversión, particularmente a un sector popular y en zonas geográficas rurales y periféricas urbanas, donde la banca comercial generalmente no está participando.',
            desktop: '',
            tablet: '',
            movil: '',
        },
        {
            title: 'inclusión financiera', 
            subtitle: '¿Qué significa?',
            body: 'Tener acceso a un conjunto de productos y servicios financieros que incluyen crédito, ahorro, seguros, sistema de pagos y pensiones, así como educación y protección al consumidor.',
            desktop: '',
            tablet: '',
            movil: '',
        },
        {
            title: 'plan de trabajo', 
            subtitle: '2019 - 2021',
            body: 'El 1 abril de 2019 se llevó a cabo la Asamblea General de Asociados, donde fue elegido como Presidente del Consejo Directivo David Romero Morfín, Director General de Fincomún.',
            desktop: '',
            tablet: '',
            movil: '',
        },
    ]
    
    const featured = [
        {
            title: 'misión', 
            body: 'Promover el desarrollo ordenado y sano del Sector de Ahorro y Crédito Popular en México, siendo un interlocutor destacado y reconocido ante cualquier organismo gubernamental o privado, con la finalidad de interactuar en el desarrollo de nuevas regulaciones, en la utilización y canalización adecuada de fondeo y recursos gubernamentales, en el alineamiento de la política pública para el sector, contribuyendo así con el fortalecimiento institucional de sus asociados, y en la promoción de la educación financiera dentro del segmento de los Servicios Financieros Populares.',
            image: 'featured-amsofipo-mision',
            icon: 'mission',
        },
        {
            title: 'visión', 
            body: 'La AMSOFIPO será el organismo de representación y autorregulación de mayor relevancia y representatividad en México, integrado por SOFIPO reguladas, fomentando el sano desarrollo del Sector de Ahorro Popular dentro del Sistema Financiero Mexicano.',
            image: 'featured-amsofipo-mision',
            icon: 'vission',
        },
    ]

    const footerDatosContacto = {
        direccion: 'Av. Insurgentes Sur #2047<br>Esq. Cracovia Edificio “B”,<br>Colonia San Ángel,<br>Alcaldía Álvaro Obregón<br>C.P. 01000, CDMX',
        email: 'contacto@amsofipo.mx',
        telefono: '5001 4851',
    }

    const footerSitiosInteres = [
        {
            name: 'cnvb',
            url: '#',
        },
        {
            name: 'condusef',
            url: '#',
        },
        {
            name: 'banxico',
            url: '#',
        },
        {
            name: 'fira',
            url: '#',
        },
        {
            name: 'shcp',
            url: '#',
        },
    ]