.featured
    .featured__wrap
        img(src="../img/featured-amsofipo-mision.jpg", alt="misión")
    .featured__wrap
        .featured__header
            img(src="../img/icon-mission.svg", class="featured__icon", alt="misión")
            h2.featured__title misión
        p.featured__body Promover el desarrollo ordenado y sano del Sector de Ahorro y Crédito Popular en México, siendo un interlocutor destacado y reconocido ante cualquier organismo gubernamental o privado, con la finalidad de interactuar en el desarrollo de nuevas regulaciones, en la utilización y canalización adecuada de fondeo y recursos gubernamentales, en el alineamiento de la política pública para el sector, contribuyendo así con el fortalecimiento institucional de sus asociados, y en la promoción de la educación financiera dentro del segmento de los Servicios Financieros Populares.

.featured.featured--left
    .featured__wrap
        img(src="../img/featured-amsofipo-mision.jpg", alt="misión")
    .featured__wrap
        .featured__header
            img(src="../img/icon-vission.svg", class="featured__icon", alt="misión")
            h2.featured__title visión
        p.featured__body La AMSOFIPO será el organismo de representación y autorregulación de mayor relevancia y representatividad en México, integrado por SOFIPO reguladas, fomentando el sano desarrollo del Sector de Ahorro Popular dentro del Sistema Financiero Mexicano.