.header__pages
    picture
        source(srcset="img/header-pages/sofipo-desktop.jpg", class="header__background", media="(min-width: 568px)")
        img(src="img/header-pages/sofipo-movil.jpg", class="header__background", alt="sofipo")
    .header__box
        .header__jumbotron
            .header__fancy
                h1.header__title amsofipo
                h2.header__subtitle Asociación Mexicana de SOFIPO
            p.header__text La Asociación Mexicana de Sociedades Financieras Populares (AMSOFIPO) fue creada a finales del 2009, como resultado del interés de un grupo de Sociedades Financieras Populares (SOFIPO) por generar sinergias tendientes a fortalecer al sector mediante adecuaciones a la regulación y mantener una sana interacción de comunicación para proponer adicionalmente programas y proyectos donde se vincule su figura.