header.header
    .header__child
        .header__item
            a(href="index.html"): img(src=`${pathImg}logo-amsofipo.svg`, class="header__logo", alt="amsofipo")
        .header__item
            include icon-hamburguer
            include menu