.header.__row
    .header__column
        .header__left-side
            img(src="../img/logotipo-amsofipo.svg", class="header__logo", alt="amsofipo isotipo")
        .header__right-side
            include icon-hamburguer
            include menu