header.header.__grid
    .header__child
        a(href="index.html"): img(src=`${pathImg}logo-amsofipo.svg`, class="header__logo", alt="amsofipo")
    .header__child
        include icon-hamburguer
        include menu