.informacion-estadistica
    .informacion-estadistica__item
        ul
            li 2015
            li 2016
            li 2017
            li 2018
            li 2019
                ul
                    li DICIEMBRE

    .informacion-estadistica__item
        each val in informacionEstadistica
            .informacion-estadistica__info
                div
                    img(src=`${imagePath}${val.icon}`, alt="icon")
                div
                    h2= `${val.cifra}`
                    h3= `${val.caption}`

