.jumbotron
    picture.jumbotron__background
        source(srcset="../img/jumbotron-amsofipo-desktop.jpg", class="jumbotron__image", media="(min-width: 768px)")
        source(srcset="../img/jumbotron-amsofipo-tablet.jpg", class="jumbotron__image", media="(min-width: 480px)")
        img(src="../img/jumbotron-amsofipo-movil.jpg", class="jumbotron__image", alt="sofipo")
    .jumbotron__box
        .jumbotron__description
            .jumbotron__header
                h1.jumbotron__title amsofipo
                h2.jumbotron__subtitle Asociación Mexicana de Sociedades Financieras Populares
            p.jumbotron__body La Asociación Mexicana de Sociedades Financieras Populares (AMSOFIPO) fue creada a finales del 2009, como resultado del interés de un grupo de Sociedades Financieras Populares (SOFIPO) por generar sinergias tendientes a fortalecer al sector mediante adecuaciones a la regulación y mantener una sana interacción de comunicación para proponer adicionalmente programas y proyectos donde se vincule su figura.