-
    const pages = [
        {
            title: 'amsofipo',
            url: 'amsofipo.html',
            child: []
        },
        {
            title: 'sofipo',
            url: 'sofipo.html',
            child: []
        },
        {
            title: 'inclusión financiera',
            url: 'inclusion-financiera.html',
            child: []
        },
        //- {
        //-     title: 'blog',
        //-     url: 'blog.html',
        //-     child: []
        //- }
    ]

ul.menu
    each page in pages
        li.menu__item: a(href= page.url).menu__link= page.title