ul.menu
    li.menu__item
        a(href="#", class="menu__link menu__link--ghost") amsofipo
    li.menu__item 
        a(href="#", class="menu__link menu__link--ghost") sofipo
    li.menu__item 
        a(href="#", class="menu__link menu__link--ghost") inclusión financiera
    li.menu__item 
        a(href="#", class="menu__link menu__link--ghost") blog
    li.menu__item
        button.button contáctanos