.pin
    .pin__wrap
        div: img(src=`${imagePath}icon-pin.svg`, class="pin__icon", alt="placeholder")
        p.pin__text Ubica la sucursal más cercana y disfruta de los beneficios que nuestros asociados tienen para ti. 