a(href="https://www.google.com/maps/d/drive?state=%7B%22ids%22%3A%5B%221YI-Zp5LzZNQUYE58vg3CfayAW1VreEUx%22%5D%2C%22action%22%3A%22open%22%2C%22userId%22%3A%22111872545418456227053%22%7D&usp=sharing", target="_blank").pin
    .pin__wrap
        div: img(src=`${imagePath}icon-pin.svg`, class="pin__icon", alt="placeholder")
        p.pin__text Ubica la sucursal más cercana y disfruta de los beneficios que nuestros asociados tienen para ti. 