extends ../templates/pages

block jumbo
    include ../mixins/mix-jumbo
    +jumbo(JUMBO_AMSOFIPO)

block sections
    include ../mixins/mix-featured
    +featured(FEATURED_MISION)
    +featured_right(FEATURED_VISION)
    include ../sections/amsofipo-asociados