extends ../templates/pages

block jumbotron
    +jumbotron(0)

block featured
    .__row
        .__column
            +featured_right(0)
            +featured_left(1)

block more_content
    .__row
        .__column
            +header_section('nuestros asociados', 'association', 'first')
            include ../components/associates