extends ../templates/pages

block jumbo
    include ../mixins/mix-jumbo
    +jumbo(JUMBO_AMSOFIPO)

block sections
    include ../mixins/mix-featured
    .__wrap
        +featured(FEATURED_MISION)
    .__wrap
        +featured_right(FEATURED_VISION)
    .__wrap
        include ../sections/amsofipo-asociados