extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Banca en línea segura, Octubre 2015
        .entry__child
            img(src=`${pathImg}banca-en-linea-segura-octubre-2015.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Al momento de hacer transacciones bancarias en línea, presta mucha atención a la información que proporcionas. Te dejamos algunos tips de seguridad.
            p.body.normal.light.text.mbottom--sm Establece porcentajes para los distintos gastos que tienes que realizar cada mes. Asigna también uno a aquellas compras que surjan de pronto. 
            p.body.normal.light.text.mbottom--sm - Si recibes un correo electrónico de un remitente desconocido, y te solicitan nombre de usuario y contraseña, no lo ingreses. Las instituciones bancarias, no pedirán esa información vía mail.
            p.body.normal.light.text.mbottom--sm - Instala y actualiza constantemente tu antivirus, firewall y un antispyware. Estos pro- gramas están creados para proteger tus transacciones de amenazas de virus y robo.
            p.body.normal.light.text.mbottom--sm - Asegúrate que la página web del banco al que estás ingresando, sea el de la institución. Procura no seguir enlace externos, a menos de que estés seguro que es la ruta de acceso correcta.
            p.body.normal.light.text.mbottom--sm - Cuidar tus movimientos en Internet es fundamental. Cualquier problema que tengas, acude directamente a tu sucursal bancaria. 