extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Compra responsable en el Buen Fin, Noviembre 2015 
        .entry__child
            img(src=`${pathImg}compra-responsable-en-el-buen-fin-noviembre-2015.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm El Buen Fin está cerca y te damos algunos tips para cuidar tu cartera. 
            p.body.normal.light.text.mbottom--sm - Planifica y presupuesta. Decide cuánto dinero destinarás a las compras de ése fin de semana en particular. Si cuentas con dinero extra, la recomendación es que no lo gastes todo. Sugerimos que elabores un presupuesto y te ciñas a él.
            p.body.normal.light.text.mbottom--sm - Infórmate y compara. Visita diferentes tiendas, revisa los precios y compara. Si no tienes tiempo de hacerlo, consulta el minisitio http://elbuenfin.profeco.gob.mx/, en él podrás ingresar artículos y conocer los costos en diferentes establecimientos. 
            p.body.normal.light.text.mbottom--sm - ¿Lo necesitas? Esta pregunta la deberás hacer antes de realizar cualquier compra no planeada. Hay una delgada línea entre lo que quieres y necesitas. Evita las compras por impulso, te pueden dejar gastos y deudas importantes. 
            p.body.normal.light.text.mbottom--sm Al ser un consumidor responsable tendrás beneficios en tu cartera a corto, mediano y largo plazo. Si eres víctima de abusos por parte de cualquier comercio, repórtalo de inmediato ante la PROFECO. 