extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Conoce la terminología crediticia
        .entry__child
            img(src=`${pathImg}conoce-la-terminologia-crediticia.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Si ya cuentas con una tarjeta de crédito, hay varios conceptos que te sugerimos conozcas. De esta manera, harás un buen manejo de tu tarjeta y sobre todo de tus finanzas
            p.body.normal.light.text.mbottom--sm - CAT. Éste incluye el costo de la tasa de interés, las comisiones y las primas de seguros que el usuario deberá pagar al contratar un servicio. Además, será el costo total de tu crédito. 
            p.body.normal.light.text.mbottom--sm - Pago mínimo. Olvídate de los intereses y revisa en tu estado de cuenta la cantidad mínima que deberás pagar para no generarlos 
            p.body.normal.light.text.mbottom--sm - Periodo. Se refiere a la fecha que comprende el ciclo en el que puedes utilizar tu tarjeta. Por lo general es de 30 o 31 días. •Fecha de corte. Es el día del mes en que termina e inicia un periodo de registro de lo que gastas. tu elección sea la que se ajuste a tus necesidades.
            p.body.normal.light.text.mbottom--sm - Fecha límite de pago. No perjudiques tu historial crediticio, procura no atrasarte en los pagos. Siempre paga a tiempo y no dejes que tu deuda siga incrementándose. 
            p.body.normal.light.text.mbottom--sm Las tarjetas de crédito son instrumentos financieros que pueden ser de mucha ayuda. Utilizarlos responsablemente te permitirá tener finanzas estables. Siempre revisa antes de firmar tu contrato los cobros por comisiones puesto que cada institución financiera puede realizar diferentes tipos de cargos extra, evita problemas.