extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Conviertete en un buen inversionista
        .entry__child
            img(src=`${pathImg}conviertete-en-un-buen-inversionista.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text DEFINE UN OBJETIVO
            p.body.normal.light.text.mbottom--sm Para obtener resultados óptimos a partir de tus inversiones, es necesario que establezcas objetivos claros y puntuales, pues a partir de éstos, tendrás una estrategia particular. 
            p.body.normal.light.text EL INSTRUMENTO DE INVERSIÓN
            p.body.normal.light.text.mbottom--sm El instrumento de inversión. Será el medio a través del cual invertirás tu dinero. Puede ser a) de renta variable: al contratarlos, se desconocerán los rendimientos que generarán al finalizar el plazo, tal es el caso de las acciones y b) de deuda: al contrario de los primeros, al momento de su contratación se sabe cuál será el rendimiento a recibir, por ejemplo los CETES o los BONDES.
            p.body.normal.light.text DIVERSIFICA
            p.body.normal.light.text.mbottom--sm Te sugerimos que no inviertas todo tu dinero en una sola opción. En el mundo de las inversiones es importante la diversificación, pues los riesgos que asumirás serán variados, recuerda que a mayor rendimiento, el riesgo es mayor.
            p.body.normal.light.text LOS MONTOS Y LOS PLAZOS
            p.body.normal.light.text.mbottom--sm Establece una cantidad fija para tu inversión. Si te es posible, ahorra e invierte recursos cada que te sea posible sin descuidar tus necesidades básicas. Considera que a mayor plazo, los rendimientos generados por tu dinero serán mayores. 
            p.body.normal.light.text No te apresures al momento de tomar una decisión, acu-de con especialistas en el tema, o bien, acércate a insti-tuciones como la CONDUSEF, la CNBV o BANXICO. 
