extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Cuida tu sofipo del robo de identidad
        .entry__child
            img(src=`${pathImg}cuida-tu-sofipo-del-robo-de-identidad.png`, alt="planea a futuro")