extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text El microcredito y sus finanzas
        .entry__child
            img(src=`${pathImg}el-microcredito-y-sus-finanzas.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm ¿Cuántas veces no has escuchado hablar sobre los créditos y cómo es que éstos pueden ayudarte en la adquisición de algún bien o pagar servicios?, seguramente más de una. En esta ocasión, te hablaremos sobre los microcréditos, ¿sabes cómo funcionan?
            p.body.normal.light.text.mbottom--sm Recordemos que un crédito es cierta cantidad de dinero que se te presta, y que debes pagar en un plazo determinado y servirá para adquirir bienes o servicios. 
            p.body.normal.light.text.mbottom--sm Ya entrados en la materia, un Microcrédito es un préstamo de hasta 20 mil UDIS, otorgado principalmente a personas que quieren autoemplearse, abrir un pequeño negocio para poder desarrollar alguna actividad productiva independiente, para la promoción de actividades productivas, artesanales, comerciales, de servicios, consumo y vivienda. 
            p.body.normal.light.text.mbottom--sm En el caso de personas físicas, se concede a aquellas que declaren realizar actividades o proyectos productivos, cuyos montos y plazos sean consistentes con dicha actividad, tendrán como límite máximo de préstamo 30 mil UDIS y un plazo de 3 años. 
            p.body.normal.light.text.mbottom--sm La fuente de pago estará constituida por el producto de la actividad comercial, industrial, agrícola, ganadera, pesquera, silvícola o de servicios, incluidos en este último concepto los servicios profesionales prestados por el acreditado, así como los otorgados a pequeños empresarios, personas físicas o morales, titulares de microempresas o a grupos de personas físicas solidarios o mancomunados. 
            p.body.normal.light.text.mbottom--sm Los microcréditos están dirigidos a aquellos sectores de la población de bajos recursos, que no cuentan con acceso a la banca comercial. 
            p.body.normal.light.text.mbottom--sm Son otorgados por instituciones que ofrecen servicios ﬁnancieros de ahorro, crédito y seguros, tal es el caso de las Sociedades Financieras Populares (SOFIPOS), Sociedades Cooperativas de Ahorro y Préstamo (SOCAPS) o Sociedades Financieras de Objeto Múltiple (SOFOMES), por mencionar algunas. 
            p.body.normal.light.text.mbottom--sm TIPOS DE MICROCRÉDITOS 
            p.body.normal.light.text.mbottom--sm - Son similares a los créditos ofrecidos por la banca tradicional.
            p.body.normal.light.text.mbottom--sm - Es un ﬁnanciamiento otorgado para realizar actividades productivas. Como solicitante se deberá contar con un aval o garantía prendaria. 
            p.body.normal.light.text.mbottom--sm GRUPAL
            p.body.normal.light.text.mbottom--sm - Dirigido a personas que no cuentan con garantías propias. 
            p.body.normal.light.text.mbottom--sm - Pueden ser grupos de más de cinco personas de la misma comunidad. 
            p.body.normal.light.text.mbottom--sm - Se otorga un préstamo individual a cada integrante del grupo de no más de 8 mil 500 UDIS y el plazo del pago, no podrá exceder un año. 
            p.body.normal.light.text.mbottom--sm - Los pagos son semanales o quincenales y el grupo se deberá reunir para juntar el dinero. 
            p.body.normal.light.text.mbottom--sm - La garantía es solidaria, es decir, si alguno no pue-de pagar, todos los demás se hacen responsables.
            p.body.normal.light.text.mbottom--sm RECOMENDACIONES 
            p.body.normal.light.text.mbottom--sm - Analiza tu capacidad de pago, independientemente si será individual o grupal, recuerda que en el caso de éste último, la garantía es solidaria.
            p.body.normal.light.text.mbottom--sm - Antes de contratar este servicio ﬁnanciero, considera el CAT (Costo Anual Total), que será el costo total anual del ﬁnanciamiento.
            p.body.normal.light.text.mbottom--sm - Revisa a cabalidad el contrato antes de ﬁrmarlo y aclara todas tus dudas con el asesor.
            p.body.normal.light.text - Si estás considerando solicitar un microcrédito, de entrada, asegúrate que la institución a la que estés acu-diendo esté regulada ante la CONDUSEF o la CNBV. 
