extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Hablemos de remesas
        .entry__child
            img(src=`${pathImg}hablemos-de-remesas-enero-2017.png`, alt="planea a futuro")