extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text ¿Has escuchado hablar de los gastos hormiga?, Septiembre 2015 
        .entry__child
            img(src=`${pathImg}has-escuchado-hablar-de-los-gastos-hormiga-septiembre-2015.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm ¿Has escuchado hablar de los gastos hormiga? Son aquellos que realizamos a lo largo del día, de la semana o del mes, a los que no le ponemos atención por ser cotidianos, como comprar café todas las mañanas, cigarros sueltos, megas para navegar en Internet, insumos de oficina, entre otros, pero, ¿sabes cómo fumigarlos?
            p.body.normal.light.text.mbottom--sm - Planifica. Establece porcentajes para los distintos gastos que tienes que realizar cada mes. Asigna también uno a aquellas compras que surjan de pronto.
            p.body.normal.light.text.mbottom--sm - Registra tus gastos. Ya sea semanal, quincenal o mensual, es importante tengas un control de lo que gastas, planificar será la mejor herramienta que puedas tener.
            p.body.normal.light.text.mbottom--sm - ¿Lo necesitas? Asegúrate si lo que estás comprando realmente lo necesitas, o simplemente es un gusto extra que te estás dando. 
            p.body.normal.light.text.mbottom--sm - ¿Lo utilizas? Analiza si estás usando todo lo que adquieres, por ejemplo, si tienes varias líneas telefónicas contratadas, ¿utilizas todas o sólo algunas? Cancela las que nos uses y ahorra dinero.
            p.body.normal.light.text.mbottom--sm Cuida tu cartera de esas compras o gastos imperceptibles, pero que a la larga si los sumas, te darás cuenta que son una suma importante que podrías utilizar en otras cosas.