extends ../templates/pages

block jumbo
    include ../mixins/mix-jumbo
    +jumbo(JUMBO_INCLUSION)

block sections
    include ../mixins/mix-featured
    +featured(FEATURED_TRABAJAMOS)
    .__wrap.bg--first#informacion-estadistica
        include ../sections/inclusion-financiera-estadistica