extends ../templates/pages

block jumbotron
    +jumbotron(2)

block featured
    .__row
        .__column
            +featured_right(4)

block more_content
    .__row(style="background-color: #43B6BF;")
        .__column
            p(style="color: #ffffff; font-size: 1.8rem; font-family: prompt; text-align: center;") El acceso a servicios financieros tiene un enorme potencial para mejorar la calidad de vida de las personas; se trata de un requisito indispensable para la reducción de la pobreza y vulnerabilidad de amplios sectores de la población. La falta de éste limita innecesariamente el desarrollo de los hogares.

    .__row.info-financiera
        .__column
            +header_section('informacion estadística', 'presentation', 'white')
            +header_caption('Conoce aquí los principales indicadores del sector.', 'white')
            include ../components/informacion-estadistica