extends ../templates/pages

block main
    +jumbotron_main(
        'jumbotron-main.jpg',
        'Fomentamos el sano desarrollo del Sector de Ahorro Popular dentro del Sistema Financiero Mexicano',
        'Conoce más'
    )