extends ../templates/pages

//- block carousel
    //- include ../components/carousel

//- block sections
    //- .__wrap.bg-home-amsofipo
    //-     include ../sections/home-amsofipo
    //- .__wrap.bg-home-indicadores
    //-     include ../sections/home-indicadores
    //- .__wrap.bg-home-sofipo
    //-     include ../sections/home-sofipo
    //- include ../sections/home-mosaicos
    //- .__wrap.bg-home-contacto
    //-     include ../sections/home-contacto