extends ../templates/pages

block carousel
    include ../components/carousel

block sections
    include ../sections/home-amsofipo
    include ../sections/home-indicadores
    include ../sections/home-sofipo
    include ../sections/home-mosaicos
    include ../sections/home-contacto