extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Las cuentas del Buen Fin
        .entry__child
            img(src=`${pathImg}las-cuentas-del-buen-fin.png`, alt="planea a futuro")