extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Microseguros una opción de protección
        .entry__child
            img(src=`${pathImg}conoce-la-terminologia-crediticia.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Un seguro siempre será un servicio que ayude a salir de alguna situación inesperada ya sea en casa, en aspectos de salud, o en empresas. Por ello, en esta ocasión, hablaremos de lo que es un microseguro. 
            p.body.normal.light.text.mbottom--sm Es un mecanismo de transferencia del riesgo que, a través de una póliza, la aseguradora asume un riesgo a favor de quien está contratando el producto. Pueden ser otorgados por aseguradoras, bancos, corresponsales bancarios, cajas de ahorro y microfinancieras, por mencionar algunas. Los hay de vida, daños, accidentes, enfermedades, crédito de vivienda, garantía financiera o pensiones.
            p.body.normal.light.text.mbottom--sm Entre las ventajas que el microseguro ofrece se encuentran que como asegurado, no será necesario realizar pagos de deducibles o coaseguros. Los requisitos de contratación son más sencillos y en el caso del cobro de primas el trámite es más simplificado. Cabe destacar que las sumas aseguradas o los límites de indemnización son menores debido a que los riesgos a cubrir también lo son.
            p.body.normal.light.text.mbottom--sm Es esencial que antes de contratar un microseguro, se verifique en la página de la CONDUSEF que la empresa otorgante esté registrada en el Sistema de Registro de Prestadores de Servicios Financieros (SIPRES). Recuerda siempre comparar antes de contratar, leer el contrato y preguntar cualquier duda sobre el mismo.