extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Planea a futuro
        .entry__child
            img(src=`${pathImg}planea-a-futuro-noviembre-2017_01.png`, alt="planea a futuro")
            a(href="https://www.google.com/maps/d/edit?mid=1YI-Zp5LzZNQUYE58vg3CfayAW1VreEUx", target="_blank"): img(src=`${pathImg}planea-a-futuro-noviembre-2017_02.png`, alt="planea a futuro")
            a(href="microcreditos.html"): img(src=`${pathImg}planea-a-futuro-noviembre-2017_03.png`, alt="planea a futuro")
            img(src=`${pathImg}planea-a-futuro-noviembre-2017_04.png`, alt="planea a futuro")