extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Planea a futuro
        .entry__child
            img(src=`${pathImg}planea-a-futuro-noviembre-2017.png`, alt="planea a futuro")