extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Presupuesta e inicia bien el año en 2016, Diciembre 2015 
        .entry__child
            img(src=`${pathImg}presupuesta-e-inicia-bien-el-2016.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Estamos ya por terminar el año y es un buen momento para que comiences a elaborar tu presupuesto. Te presentamos algunas recomendaciones para ello. 
            p.body.normal.light.text.mbottom--sm - Tus ingresos. Identifica cuánto dinero recibes mensualmente, para que en función de éste, tengas una idea clara de cuánto es lo que puedes destinar a tus gastos. Separa entre los fijos y los variables.
            p.body.normal.light.text.mbottom--sm - Los gastos. Elabora un listado de los principales gastos que tienes que cubrir durante todo el año y categorízalos: alimentos, salud, educación, diversión, ahorro, pago de tarjetas, por mencionar algunos. 
            p.body.normal.light.text.mbottom--sm - Calcula tus egresos. Al terminar de elaborar la lista, asígnale un porcentaje a cada rubro. Puedes revisas cuánto gastaste en ellos y considera si es suficiente la cantidad o si es necesario aumentar un poco lo destinado a cada actividad. 
            p.body.normal.light.text.mbottom--sm Con un buen presupuesto podrás cuidar tu dinero y a su vez, tener cubiertas todas las necesidades básicas. Comienza el año con el pie derecho, sobre todo en materia financiera. 