extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Protege tu sofipo del robo de identidad
        .entry__child
            img(src=`${pathImg}protege-tu-sofipo-del-robo-de-identidad.png`, alt="planea a futuro")