extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Que la cuesta no te cueste, Enero 2016 	 
        .entry__child
            img(src=`${pathImg}que-la-cuesta-no-te-cueste-enero-2016.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Quizás hiciste varios gastos en las pasadas fiestas decembrinas y eso está generando problemas en tus bolsillos, sí, la cuesta de enero está haciendo de las suyas. No te preocupes te damos algunos tips para que la situación no empeore. 
            p.body.normal.light.text.mbottom--sm - El presupuesto. No lo olvides, analiza tus ingresos y egresos para que a partir de ellos, establezcas topes financieros y puedas cubrir los gastos que tienes en tu día a día. De ser posible, procura pagar alguna de las deudas generadas en los meses previos.
            p.body.normal.light.text.mbottom--sm - El ahorro. Si al momento de hacer tu presupuesto, en el rubro de egresos te diste cuenta que gastaste de más, es momento de ahorrar. Si vives en familia, invita a todos a que lo hagan y verán mejores resultados. 
            p.body.normal.light.text.mbottom--sm - Ganancias extra. Busca alguna actividad a partir de la cual puedas generar nuevos ingresos. Ese dinero te caerá de maravilla y aligerarás un poco los gastos y la cuesta no te costará tanto.
            p.body.normal.light.text.mbottom--sm - Los créditos. Piensa muy bien antes de solicitar. Analiza tu capacidad de pago, pues de lo que se trata es terminar con las deudas y no conseguir nuevas. 
            p.body.normal.light.text.mbottom--sm Ya iniciamos un nuevo año y es el momento propicio para cuidar de tus finanzas.