extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text ¿Tu negocio en crisis?
        .entry__child
            img(src=`${pathImg}tu-negocio-en-crisis.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm ¿Sabes qué hacer si tu negocio cae en problemas financieros? No entres en crisis, te compartimos algunas recomendaciones para comenzar a salir de ella. 
            p.body.normal.light.text.mbottom--sm La reducción de gastos será fundamental. Aspectos como las entregas a domicilio, establecer rutas muy precisas si utilizan el automóvil y no gastar en gasolina, evitar contratar personal a menos que sea sumamente necesario, ahorrar energía, papel…, en fin, serán acciones que te pueden ayudar a ahorrar un poco de dinero. 
            p.body.normal.light.text.mbottom--sm Si tienes problemas de pago con tus proveedores, negocia con ellos. No lo tomes a la ligera, de ellos que tengas productos para su venta. Así que si identificas que no podrás pagarles, platíquenlo y lleguen a acuerdos. 
            p.body.normal.light.text.mbottom--sm A partir de las promociones, incrementa tus ventas. Productos al 2 X 1, descuentos directamente en tienda, por teléfono o en redes sociales, entre muchas otras, son estrategias que puedes seguir para generar más visitas a tu empresa y generar dinero. 
            p.body.normal.light.text.mbottom--sm En momento de crisis, lo que se necesita es tener mayores ingresos, busca la mejor manera de atraer clientes y ganar más. No olvides que todo lo que vayas obteniendo servirá para paga las deudas generadas dentro de tu empresa. 