extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text Visita el Buró de Entidades Financieras
        .entry__child
            img(src=`${pathImg}visita-el-buro-de-entidades-financieras.jpg`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Actualmente la CONDUSEF pone a tu disposición una herramienta en Internet que permite revisar la situación de la Banca Mexicana. De esta manera, podrás conocer ampliamente en qué institución te conviene más solicitar productos financieros: te hablamos del Buró de Entidades Financieras. 
            p.body.normal.light.text.mbottom--sm Dentro de este portal, podrás realizar: consultas, reclamaciones y controversias, mismas que te explicamos brevemente. 
            p.body.normal.light.text.mbottom--sm CONSULTAS
            p.body.normal.light.text.mbottom--sm A través del sitio Web del Buró http://www.buro.gob.mx/, puedes revisar las características de determinado producto, su forma de operación, los datos de la Unidad Especializada en la que te puede atender la institución financiera y las obligaciones y derechos de cada uno. Reclamaciones
            p.body.normal.light.text.mbottom--sm Se refiere a las solicitudes que hacen los usuarios ante una entidad bancaria para que ésta corrija cláusulas no estipuladas en el contrato firmado, actos incorrectos o bien, la afectación de tus intereses a partir de alguna operación realizada por el banco. Puedes revisar el número de reclamaciones de cada entidad financiera.
            p.body.normal.light.text.mbottom--sm CONTROVERSIAS
            p.body.normal.light.text.mbottom--sm En este caso, se habla ya de las quejas presentadas por los usuarios, de las cuales se busca llegar a una solución rápida, sin necesidad de comenzar un proceso legal. Estas se dividen en dos: 
            p.body.normal.light.text.mbottom--sm a) Gestión electrónica: las problemáticas son enviadas a las instituciones financieras vía electrónica para su solución.
            p.body.normal.light.text.mbottom--sm b) Gestión ordinaria: se solicita por medio de un escrito a la institución financiera que proporcione la información necesaria para la solución del conflicto.
            p.body.normal.light.text.mbottom--sm Los bancos ofrecen diferentes productos y servicios financieros a partir de las necesidades de sus clientes. No olvides la importancia que tiene analizar muy bien el o los productos que piensas adquirir, para que de esta manera, tu elección sea la que se ajuste a tus necesidades. 