extends ../templates/entry
block entry
    article.entry
        .entry__child
            h1.heading.title.text ¿Y tú tienes una cuenta de ahorro?
        .entry__child
            img(src=`${pathImg}y-tu-tienes-una-cuenta-de-ahorro.png`, class="mbottom--md", alt="planea a futuro")
            p.body.normal.light.text.mbottom--sm Ya estamos en los últimos meses del año y vienen consigo promociones de fin de temporada, ventas especiales como El Buen Fin y las fiestas decembrinas, momentos en los que se antoja comprar infinidad de bienes y productos, pero recuerda que para no tener problemas económicos en un futuro, el ahorro será tu mejor aliado. 
            p.body.normal.light.text.mbottom--sm De entrada, te sugerimos que te acerques a instituciones reguladas que te ofrecerán productos financieros según tus necesidades. Un ejemplo de ello son las SOFIPOS, microfinancieras que fomentan el ahorro popular y te ofrecen acceso al financiamiento dándote orientación en materia de crédito, seguros y ahorro.            
            p.body.normal.light.text.mbottom--sm Pero si lo que quieres es que tu dinero esté siempre protegido y se incremente, de entrada te recomendamos que no guardes tus ingresos en casa. Busca opciones como por ejemplo una cuenta de ahorro, ¿sabes qué son?          
            p.body.normal.light.text.mbottom--sm - Pero si lo que quieres es que tu dinero esté siempre protegido y se incremente, de entrada te recomendamos que no guardes tus ingresos en casa. Busca opciones como por ejemplo una cuenta de ahorro, ¿sabes qué son?          
            p.body.normal.light.text.mbottom--sm - Según la entidad financiera te podrá establecer un monto mínimo inicial requerido, así como uno mensual. 
            p.body.normal.light.text.mbottom--sm - De igual manera, pueden solicitarte un plazo mínimo determinado para que puedas recibir rendimientos atractivos.           
            p.body.normal.light.text.mbottom--sm - Es importante que revises si podrás disponer de tu dinero en cualquier momento, y sin cobro de comisión.           
            p.body.normal.light.text.mbottom--sm Recuerda que no todos los intermediarios financieros pueden recibir dinero a través de cuentas de ahorro, solamente están autorizados los bancos, las Sociedades Financieras Populares y las Cooperativas de Ahorro y Préstamos.       
            p.body.normal.light.text.mbottom--sm ¡Cuida tu dinero y al mismo tiempo, hazlo crecer!         
