.amsofipo-asociados.__grid
    .amsofipo-asociados__child
        h1.heading.title.bold.uppercase.first.mbottom--md Nuestros asociados
        h2.body.caption.light.text Conoce a las SOFIPO que están cerca de ti
    .amsofipo-asociados__child
        include ../components/asociados
    .amsofipo-asociados__child
        a(href="https://www.google.com/maps/d/drive?state=%7B%22ids%22%3A%5B%221YI-Zp5LzZNQUYE58vg3CfayAW1VreEUx%22%5D%2C%22action%22%3A%22open%22%2C%22userId%22%3A%22111872545418456227053%22%7D&usp=sharing", class="amsofipo-asociados__ub", target="_blank")
            img(src=`${pathImg}icon-pin.svg`, class="amsofipo-asociados__icon", alt="placeholder")
            p.body.caption.light.text Ubica la sucursal más cercana y disfruta de los beneficios que nuestros asociados tienen para ti. 