section.home-contacto.__grid
    .home-contacto__child
        h1.title.heading.uppercase.first.mbottom--md contacto
        p.light.body.subtitle.text Queremos ayudarte a resolver todas tus dudas, <strong class="text sbold subtitle">¡escríbenos!</strong>
    .home-contacto__child
        include ../components/form