section.home-sofipo
    .home-sofipo__child
        h1.display--alt.heading.uppercase.text--alt ¿qué es una <span class="display">sofipo?</span>
    .home-sofipo__child
        h1.medium.emphasis.text--alt.display--alt.mbottom--lg Son entidades autorizadas y reguladas por Comisión Nacional Bancaria y de Valores (CNBV)
        a(href="", class="button--alt") Descubre más