section.home-amsofipo
    .home-amsofipo__child
        img(src=`${pathImg}logo-amsofipo-vertical-alt.svg`, class="home-amsofipo__logo", alt="amsofipo")
    .home-amsofipo__child
        h1.medium.emphasis.text--alt.display--alt.mbottom--lg Fomentamos el sano desarrollo del Sector de Ahorro Popular dentro del Sistema Financiero Mexicano
        a(href="amsofipo.html", class="button--alt") Descubre más