.sofipo-portafolio.__grid
    .sofipo-portafolio__child
        h1.heading.title.bold.uppercase.first.mbottom--md Portafolio de productos en las sofipo
        p.body.caption.light.text Ofrecen una amplia gama de productos y servicios, los créditos pueden otorgarse de manera individual, solidaria o comunal. Este portafolio se ha adaptado a las necesidades de nuestros clientes, durante más de 20 años.
    .sofipo-portafolio__child
        include ../components/productos