.sofipo-naturaleza-juridica.__grid
    .sofipo-naturaleza-juridica__child
        h1.heading.title.bold.uppercase.first.mbottom--md Naturaleza Jurídica
        p.body.normal.light.text.mbottom--md Son instituciones de microfinanzas constituidas como Sociedades Anónimas de Capital Variable, que operan mediante la autorización que les otorga la CNBV, conforme a la facultad que les confiere el artículo 9 de la LACP y previo dictamen favorable otorgado por una Federación.
        p.body.normal.light.text.mbottom--md Las SOFIPO tienen su domicilio en territorio nacional, con una duración indefinida, y están facultadas para prestar servicios tanto a sus socios como a sus clientes, en los términos de la LACP.
        p.body.normal.light.text.mbottom--md En su carácter de sociedades anónimas deben cumplir también con la Ley General de Sociedades Mercantiles (LGSM), ya que son empresas privadas y su capital se integra con las aportaciones que hacen sus accionistas.
        h1.heading.title.bold.uppercase.first.mbottom--md Aspectos Generales
        p.body.normal.light.text.mbottom--md La LACP reformada y publicada el 13 de agosto de 2009 establece como objeto:
        ul.list
            li.body.normal.light.text.mbottom--md Regular, promover y facilitar la captación de fondos o recursos monetarios y su colocación mediante préstamos o créditos u otras operaciones por parte de las SOFIPO.
            li.body.normal.light.text.mbottom--md Proteger los intereses de sus clientes.
            li.body.normal.light.text.mbottom--md Establecer los términos en los que el Estado ejerce la rectoría de las referidas SOFIPO.
        h1.heading.title.bold.uppercase.first.mbottom--md ¿Quieres saber más?
        ul.list-nj
            li.list-nj__item
                .list-nj__cont
                    h1.body.normal.bold.text Guía
                    a(href=`${pathAssets}Guia_para_solicitud_de_autorizacion_Sofipo.pdf`, target="_blank").body.normal.light.text.mbottom--md Solicitud de autorización para la organización y funcionamiento de SOFIPO
            //- li.list-nj__item
            //-     .list-nj__cont
            //-         h1.body.normal.bold.text Normatividad del sector
            //-         a(href=`${pathAssets}`).body.normal.light.text.mbottom--md Reglamentos y disposiciones oficiales que regulan a las SOFIPO
    .sofipo-naturaleza-juridica__child