.sofipo-casos-exito.__grid
    .sofipo-casos-exito__child
        h1.heading.title.bold.uppercase.text--alt.mbottom--md Casos de éxito
        p.body.caption.light.text--alt Inspírate con las historias de quienes han alcanzado sus sueños 
    .sofipo-casos-exito__child
        include ../components/casos-exito