.sofipo-beneficios
    .sofipo-beneficios__child
        h1.heading.title.bold.uppercase.first.center--content.mbottom--md Beneficios clientes y socios
    .sofipo-beneficios__child
        include ../components/beneficios